.layout-coil {
  @include u-bg('base-darkest');
  @include u-text('white');
}

.coil-header {
  @include u-position('sticky');
  @include white-links;
  @include u-border-bottom(1, 'white');
  @include u-padding-y(2);
}
.coil-navbar {
  @include u-padding-x(2);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  a {
    text-transform: uppercase;
    font-family: font-family("sans");
  }
}

$on-screen-duration: 3s;
.scrolling-gallery-tile {
  @include u-position('relative');
  top: 50%;
  left: 90%;
  &:first-child {
    // left: 0;
    top: 10%;
    animation: slide 2 * $on-screen-duration linear -2s infinite;
  }
  &:nth-child(2) {
    // left: 40%;
    top: 30%;
    animation: slide 2 * $on-screen-duration linear -1s infinite;
  }
  &:nth-child(3) {
    // left: 70%;
    top: 20%;
    animation: slide 2 * $on-screen-duration linear -.8s infinite;
  }
  &:nth-child(4) {
    // left: 90%;
    top: 5%;
    animation: slide 2 * $on-screen-duration linear 0s infinite;
  }
}

@keyframes slide {
  0%    { left: 105% }
  50%  { left: -100%; opacity: 1; }
  50.1%{ opacity: 0% }
  100% {  left: 105%; opacity: 0% }
}