@mixin dark-link {
  text-decoration: none;
  color: color("black");
  &:hover, &:focus {
    text-decoration: underline;
  }
  &:visited, &:hover, &:focus {
    color: color("black");
  }
}

@mixin dark-links {
  a {
    @include dark-link;
  }
}