.usa-pagination {
  .usa-pagination__button {
      background-color: #FFFEFC;
      color: #3A2920;

      &.usa-current {
        background-color: #3A2920;
        color: #FFFEFC;
      }
      &:hover {
        border-color: #3A2920;
      }
    }
  a.usa-pagination__link, .usa-pagination__link-text {
    &:hover {
      color: #3A2920;
    }
  }
  .usa-pagination__arrow {
    &.hidden {
      visibility: hidden;
      pointer-events: none;
    }
  }

  &.pagination--dark {
    .usa-pagination__button {
      @include u-bg('primary-darker');
      @include u-color('white');
      &.usa-current {
        @include u-bg('white');
        @include u-color('primary');
      }
    }
    .usa-pagination__link {
      @include u-color('white');
    }
  }
}
