---
layout: default
---

{% assign matchingSprint = site.data.sprints | where: "Name", page.sprint-name | first %}

{% assign display-datasets = site.data.datasets | where_exp: "dataset", 
  "dataset.sprint contains matchingSprint.airtable_id" %}
{% assign filters = "All" | split: ',' %}
{% for ps in matchingSprint.problem_statements %}
  {% assign match = site.data.problem_statements | where: "airtable_id", ps | first %}
  {% assign filters = filters | push: match %}
{% endfor %}

{% if page.problem-statement-name %}
  {% assign matchingPS = site.data.problem_statements | where: "Name", page.problem-statement-name | first %}
  {% assign display-datasets = display-datasets | where_exp: "dataset",
    "dataset.problem_statements contains matchingPS.airtable_id" %}
  {% if page.problem-statement-name == "Analyzing Equity in Federal COVID-19 Spending" %}
    {% assign display-datasets = site.data.treasury_datasets %}

    {% assign checkboxSets = "geographies" | split: "," %}
  {% endif %}
  {% assign filters = "All" | split: ',' %}
  {% for ps in display-datasets %}
    {% for tag in ps.tag %}
      {% assign filters = filters | push: tag %}
    {% endfor %}
  {% endfor %}
  {% assign filters = filters | uniq %}
{% endif %}

{% assign display-datasets = display-datasets | sort: "featuredDataset" | reverse %}

{% include hero.html %}
<section class="bg-primary-dark usa-section margin-bottom-0 padding-bottom-0">
  <div class="grid-container">
    <h2 class="text-white">Explore Datasets</h2>
      <form id="data-search-form" class="usa-search usa-search--small tablet:width-tablet display-block" role="search">
        <label class="text-white" for="search-field">Search by keyword</label>
        <div class="display-flex margin-top-05">
          <input class="usa-input" id="search-field" type="search" name="search">
          <button class="btn-link__primary-dark" type="submit">
            <span class="usa-sr-only">Search</span>
          </button>
        </div>
      </form>
    {% include dch/dch__filters.html data=filters checkboxSets=checkboxSets %}
  </div>
</section>

<section class="bg-primary-dark margin-top-0">
  <section class="usa-section usa-graphic-list grid-container padding-top-4">
    <div class="display-flex flex-row flex-align-center">
      <h3 id="results-count" 
        class="text-normal font-sans-md text-white">
          Showing {{display-datasets.size}} datasets
      </h3>
      <button class="usa-button usa-button--secondary margin-left-4" id="dch-reset--geo">Reset All Filters</button>
    </div>

    <ul class="usa-card-group">
    {% for item in display-datasets %}
      {% if item.link and item.hideFromSite != true %}
        {% include dch/dataset-card.html data=item %}
      {% endif %}
    {% endfor %}
    </ul>

    {% include nav/pagination.html 
      maxPages=5 
      label="Datasets search results page" 
      class="pagination--dark" 
      id="dch-pagination" %}

    {% if page.dataset == "covid" %}
      <h3 class="font-sans-m text-white">Below are additional points of contacts for Census data in the following topics:</h3>
      {% for expert-group in site.data.covid-census-experts %}
        <p class="font-mono-xs text-accent-warm">{{ expert-group.name }}</p>
        <a href="mailto:{{ expert-group.email }}?subject=Regarding The ASA Challenge" class="font-sans-2xs text-decoration-none text-white">{{ expert-group.poc }}<img src="{{ site.baseurl }}/assets/img/icons/email-white.png" class="padding-left-1" alt="email"></a>
      {% endfor %}
    {% endif %}
  </section>
  {% assign stripped_content = content | strip_newlines %}
  {% if stripped_content.size > 0 %}
    <section class="usa-section grid-container padding-top-0 usa-dark-background font-sans-md text-white">
      <hr class="margin-y-3 border-accent-warm">
      {{ content }}
    </section>
  {% endif %}
</section>

