---
layout: default
---

{% assign data-kits = site.datakits | where_exp: "kit", "kit.upcoming != true" | sort: "date" | reverse %}
<section class="bg-primary-vivid usa-section--dark">
  <div class="data-kit margin-y-6 desktop:margin-left-9">
      <h1 class="hero--heading">
        {{ page.title }}
      </h1>
      <p class="font-sans-md measure-4">{{ page.lead }}</p>
  </div>
  <div class="data-kit desktop:margin-left-9">
      <ul class="usa-card-group">
        {% for kit in data-kits %}
          {% include dch/datakit-card.html data = kit %}
        {% endfor %}
      </ul>
  </div>
  <div class="padding-x-2 padding-bottom-5 measure-6 margin-x-auto">
    <details class="data-source">
      <summary class="text-bold text-center">Learn more about this project</summary>
      <div class="dkh-details">
        <p class="dkh-details-p">Curated Datasets is a product of <a class="usa-link" href="{{site.baseurl}}/">The Opportunity Project (TOP)</a>.  TOP brings together the tech industry, government data, and communities through 12-week tech development sprints to create digital products using open data. Since 2016, TOP has catalyzed over 100 products that solve real world problems for Americans. In each sprint, TOP crowdsources suggested datasets and tips from data and subject matter experts across government. The data listed here reflects those expert recommendations, along with useful information on each, and an expert point of contact who can answer questions about the data.  Use these insights to speed up data discovery and kick-start your own project!</p>
        <p class="dkh-details-p">The workforce data module is an evolution of the White House’s JobKit initiative, which compiled federal workforce data from 5 APIs to spur data-driven innovation for the American worker. We built on JobKit by incorporating insights from The Opportunity Project’s 2019 Sprint on Investing in the American Workforce in All Communities, in which workforce data experts from across government helped to curate a total of 57 data sets that are most useful for addressing 4 critical workforce challenges.</p>
      </div>
    </details>
  </div>
</section>