---
layout: default
---

{% assign data-kits = site.datakits | where_exp: "kit", "kit.upcoming != true" | sort: "date" | reverse %}
<section class="bg-primary-vivid usa-section--dark">
  <div class="data-kit margin-y-6 desktop:margin-left-9">
      <h1 class="hero--heading">
        {{ page.title }}
      </h1>
      <p class="font-sans-md measure-4">{{ page.lead }}</p>
  </div>
  <div class="data-kit desktop:margin-left-9">
    <div class="grid-row grid-gap-6">
      {% for kit in data-kits %}
      {% assign kit-id = kit.title | slugify %}
      <div class="tablet:grid-col-6 desktop:grid-col-4 data-kit__container">
        <div 
          class="data-kit__card z-100 {% unless kit.upcoming %}data-kit__active{% endunless %}" 
          style="background-image: url('{{ kit.image | relative_url }}')"
        >
          {% include 1px-transparent.html alt=kit.image-alt %}
          {% if kit.upcoming %}
            <h2 class="z-200 usa-link text-no-underline" id="{{kit-id}}">{{kit.title}}</h2>
          {% else %}
            <a href="{{ site.baseurl }}{{ kit.url }}">
              <h2 class="z-200 usa-link" id="{{kit-id}}">{{kit.title}}</h2>
            </a>
          {% endif %}
          <p class="z-200">{{kit.lead}}</p>
          {% unless kit.upcoming %}
            <img class="data-kit__arrow" src="{{site.baseurl}}/assets/img/icons/right-arrow.svg" alt="Right Arrow" />
          {% endunless %}
        </div>
        <div class="data-kit__bg">
          {% if kit.upcoming %}
          <div class="data-kit__upcoming">
            Coming Soon
          </div>
          {% else %}
          <div class="data-kit__stats">
            <img class="data-kit__icon-items" src="{{site.baseurl}}/assets/img/icons/items.svg" alt="Icon for number of datasets"/>
            {% assign sprint = site.data.sprints | where: "Name", kit.sprint-name | first %}
            {% assign data = site.data.datasets | where: "sprint", sprint.airtable_id %}
            {% assign data = data | where_exp: "item", "item.link != empty and item.link != nil" %}
            <p class="text-ink">{{ data | size }}</p>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="padding-x-2 padding-bottom-5 measure-6 margin-x-auto">
    <details class="data-source">
      <summary class="text-bold text-center">Learn more about this project</summary>
      <div class="dkh-details">
        <p class="dkh-details-p">Curated Datasets is a product of <a href="/">The Opportunity Project (TOP)</a>.  TOP brings together the tech industry, government data, and communities through 12-week tech development sprints to create digital products using open data. Since 2016, TOP has catalyzed over 100 products that solve real world problems for Americans. In each sprint, TOP crowdsources suggested datasets and tips from data and subject matter experts across government. The data listed here reflects those expert recommendations, along with useful information on each, and an expert point of contact who can answer questions about the data.  Use these insights to speed up data discovery and kick-start your own project!</p>
        <p class="dkh-details-p">The workforce data module is an evolution of the White House’s JobKit initiative, which compiled federal workforce data from 5 APIs to spur data-driven innovation for the American worker. We built on JobKit by incorporating insights from The Opportunity Project’s 2019 Sprint on Investing in the American Workforce in All Communities, in which workforce data experts from across government helped to curate a total of 57 data sets that are most useful for addressing 4 critical workforce challenges.</p>
      </div>
    </details>
  </div>
</section>
