---
layout: default
---

{% assign allDatasets = site.data.datasets %}
{% assign matchingSprint = site.data.sprints | where: "Name", page.sprint-name | first %}
{% assign display-dataset = allDatasets | where_exp: "dataset", 
  "dataset.sprint contains matchingSprint.airtable_id" %}
{% assign problem_statements = "" | split: ',' %}
{% for ps in matchingSprint.problem_statements %}
  {% assign match = site.data.problem_statements | where: "airtable_id", ps | first %}
  {% assign problem_statements = problem_statements | push: match %}
{% endfor %}

{% include hero.html %}
<section class="bg-primary-dark usa-section margin-bottom-0 padding-bottom-0">
  <div class="grid-container">
    <div class="display-flex flex-column flex-align-center">
      <form id="data-search-form" class="usa-search usa-search--small desktop:width-tablet" role="search">
        <label class="usa-sr-only" for="search-field">Search datasets by key words</label>
        <input class="usa-input" id="search-field" type="search" name="search" placeholder="Search datsets by key words">
        <button class="btn-link__primary-dark" type="submit">
          <span class="usa-sr-only">Search</span>
        </button>
      </form>
    </div>
    {% include dch/dch__filters.html data=problem_statements %}
    <hr class="margin-top-3 margin-bottom-0 border-accent-warm">
  </div>
</section>

<section class="bg-primary-dark margin-top-0">
  <section class="usa-section usa-graphic-list grid-container">
    <ul class="usa-card-group">
    {% for item in display-dataset %}
      {% if item.link %}
      
        {% include dch/dataset-card.html data=item %}
      {% endif %}
    {% endfor %}
    </ul>
    {% if page.dataset == "covid" %}
      <h3 class="font-sans-m text-white">Below are additional points of contacts for Census data in the following topics:</h3>
      {% for expert-group in site.data.covid-census-experts %}
        <p class="font-mono-xs text-accent-warm">{{ expert-group.name }}</p>
        <a href="mailto:{{ expert-group.email }}?subject=Regarding The ASA Challenge" class="font-sans-2xs text-decoration-none text-white">{{ expert-group.poc }}<img src="{{ site.baseurl }}/assets/img/icons/email-white.png" class="padding-left-1" alt="email"></a>
      {% endfor %}
    {% endif %}
  </section>
</section>