{% assign card=include.content %}
{% assign teams=site.data.organizations | where: 'airtable_id', card.tech_team[0] %}
{% assign team = teams[ 0 ] %}

<div 
  class="usa-card__container card-container ps-card {{ include.utils }}"
  style="background-image: url({{ site.baseurl}}/assets/img/photos/products/{{ card.image }});
          background-size: cover;">
  {% include 1px-transparent.html alt=card.image-alt %}
  {% if card.link %}
  <a href="{{ card.link }}" class="product-link">
  {% endif %}
    <div class="card-header">
      <h3 class="text-sans-1 text-ls-1 {%if card.link%}text-underline{% endif %}">
          {{ card.title }}
      </h3>
      {% if team['Company Name'] %}
        <p>{{ team['Company Name'] }}</p>
      {% endif %}
    </div>
  {% if card.link %}
    </a>
  {% endif %}
</div>