{% if include.sections %}
  {% assign links = include.sections %}
{% else %}
  {% assign links = site.data.nav.primary %}
{% endif %}
{% for link in links %}
  {% if link.accordion %}
    {% assign itemName = link.text | remove: " " %}
    <li class="usa-nav__primary-item">
      <button class="usa-accordion__button usa-nav__link" 
        aria-expanded="false" 
        aria-controls="collapsed-nav-section-{{itemName}}">
        <span>{{ link.text }}</span></button>
      <ul id="collapsed-nav-section-{{itemName}}" class="usa-nav__submenu">
        {% for subnav in link.accordion %}
          <li class="usa-nav__submenu-item">
            <a href="{{ site.baseurl }}/{{subnav.href}}">{{ subnav.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <li class="usa-nav__primary-item">
      {% assign firstChar = link.href | slice: 0 %}
      <a href="{% if firstChar != '#' %}{{ site.baseurl }}/{% endif %}{{ link.href }}"><span>{{ link.text }}</span></a>
    </li>
  {% endif %}
{% endfor %}
{% if page.class == "toolkit" %}
  <li class="usa-nav__primary-item">
    <a class="display-flex flex-align-center margin-y-neg-1" href="{{site.baseurl}}/{{site.data.nav.toolkit.download-pdf-link}}" target="_blank">
      <span>Download PDF</span>
      <img class="padding-left-1 maxh-3 nav-svg" src="{{site.baseurl}}/assets/img/icons/pdf_icon_white.svg" alt="Download icon" class="">
    </a>
  </li>
  <li class="usa-nav__primary-item">
    <a href="{{ site.baseurl }}/"><span>&larr; Back to Main Site</span></a>
  </li>
{% else %}
  <li class="usa-nav__primary-item site-cta">
    <a href="{{ site.baseurl }}/get-involved"><span>Get Involved</span></a>
  </li>
{% endif %}
