<section class="site-banner flex-align-center">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text font-sans-xs">
            <a
              href="https://www.youtube.com/hashtag/opportunityproject"
            >
              Did you miss Demo Week? Check out the videos here →
            </a>
          </p>
        </div>
      </div>
    </header>
  </div>
</section>
