<section class="site-banner flex-align-center">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text font-sans-xs">
            <a href="{{site.baseurl}}/{{ site.annual_reports.2020 }}" target="_blank">
              View our newly released 2020 Annual Report →
            </a>
          </p>
        </div>
      </div>
    </header>
  </div>
</section>