<section class="margin-x-5">
  <div class="grid-row grid-gap-lg 
    flex-wrap flex-justify-center">
    {% for card in include.cards %}
      <div
        class="desktop:grid-col-4 tablet:grid-col-6
          usa-media-block__background-image-portrait 
          margin-bottom-3"
      >
        <div 
          class="card-content padding-y-5"
          style="background-image: url({{ site.baseurl}}/assets/img/{{ card.img }});
                 background-size: cover;">
          <div class="card-header margin-y-8">
            <h3 class="font-body-lg text-ls-1">
              <a href="{% unless card.isExternal %}{{ site.baseUrl }}/{% endunless %}{{ card.url }}">
                {{ card.title }}
              </a>
            </h3>
            <p class="font-mono-xs">{{ card.date }}</p>
          </div>
        </div>
      </div>
      
    {% endfor %}
  </div>
</section>