<div class="grid-row grid-gap-lg 
  flex-wrap flex-justify-center">
  {% for card in include.content.cards %}
    <div
      class="tablet:grid-col-4 
        usa-media-block__background-image-portrait 
        margin-bottom-3"
    >
      <div 
        class="card-content"
        style="background-image: url({{ site.baseurl}}/assets/img/{{ card.img }});
                background-size: cover;">
        <div class="card-header">
          <h3 class="font-body-lg text-ls-1">
            <a href="{% unless card.isExternal %}{{ site.baseurl }}/{% endunless %}{{ card.href }}">
              {{ card.title }}
            </a>
          </h3>
          <p class="font-mono-xs">{{ card.meta }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
