{% assign banner = page.connecting-banner %}
<section class="bg-base-darkest">
  <div class="grid-container ">
    <div class="grid-row height-15">
      <div
        class="desktop:grid-col-1"
      ></div>
      <div class="desktop:grid-col-10">
        {% assign imgSrc = "photos/" | append: banner.image %}
        {% include image.html src= imgSrc alt=banner.alt %}
      </div>
    </div>
    <div class="grid-row height-6">
      <div
        class="desktop:grid-col-1"
      ></div>
      <div
        class="desktop:grid-col-10"
      >
      </div>
      <div
        class="desktop:grid-col-1 bg-white"
      ></div>
    </div>
  </div>
</section>
<section class="grid-container margin-bottom-6">
  <div class="grid-row height-card">
    <div
      class="desktop:grid-col-2 bg-base-darkest height-6 z-bottom"
    ></div>
    <div
      class="desktop:grid-col-10"
    >
    </div>
  </div>
</section>
