{% assign item = page.contact_us %}
<section class="bg-primary">
  <section class="usa-section usa-graphic-list grid-container usa-media-block__body display-flex flex-column flex-align-center">
    <div class="grid-row grid-gap">
      {% if item.title %}
        <h2 class="font-sans-3xl">{{ item.title }}</h2>
      {% endif %}
    </div>
    <div class="grid-row grid-gap desktop:grid-col-6 padding-bottom-3">
      {% if item.subtitle %}
        {% for p in item.subtitle %}
          <p class="font-sans-md">{{ p.p }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="grid-row grid-gap">
      <ul class="usa-card-group">
        {% for item in page.contact_us.people %}
          <li class="usa-card desktop:grid-col-6">
            <div class="usa-card__container bg-primary border-white radius-0">
              <header class="usa-card__header">
                <img src="{{site.baseurl}}/assets/img/icons/thick_underline.svg" alt="" data-proofer-ignore>
                {% if item.name %}
                  <p class="font-sans-lg">{{ item.name }}</p>
                {% endif %}
              </header>
              <div class="usa-card__body">
                {% if item.job_title %}
                  <p class="font-mono-md">{{ item.job_title | upcase }}</p>
                {% endif %}
              </div>
              <div class="usa-card__footer">
                {% if item.contact %}
                  {% assign contact = item.contact %}
                  {% if contact == "site.contacts.email" %}
                    {% assign contact = site.contacts.email %}
                  {% endif %}
                  <p><a href="mailto:{{ contact }}?subject=coil%20contact%20page" class="text-white">Get in touch</a></p>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>
