{% assign data-kits = site.data.data-kits %}

<div class="data-kit grid-container">
  <div class="grid-row grid-gap-lg">
    {% for kit in data-kits limit:3 %}
    <div class="tablet:grid-col data-kit__container">
      <a class="data-kit__button" href="{{site.baseurl}}{{kit.link}}">
        {% if kit.upcoming %}
        <div class="data-kit__card" style="background-image: url('{{ kit.image | relative_url }}')">
        {% else %}
        <div class="data-kit__card data-kit__active" style="background-image: url('{{ kit.image | relative_url }}')">
          {% endif %}
          <h2>{{kit.title}}</h2>
          <p>{{kit.description}}</p>
          {% if kit.upcoming %}
          {% else %}
          <img class="data-kit__arrow" src="{{site.baseurl}}/assets/images/icons/right-arrow.svg" alt="Right Arrow" />
          {% endif %}
        </div>
      </a>
      <div class="data-kit__bg">
        {% if kit.upcoming %}
        <div class="data-kit__upcoming">
          Coming Soon
        </div>
        {% else %}
        <div class="data-kit__stats">
          <img class="data-kit__icon-items" src="{{site.baseurl}}/assets/images/icons/items.svg" alt="Icon for number of datasets"/>
          <p>{{kit.datasets}}</p>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="tablet:grid-col">
      <a class="data-kit__button" href="mailto:Census.opportunityproject@census.gov?subject=Suggest%20a%20theme%20&body=Hi%20there!%0D%0A%0D%0AI'd%20like%20to%20suggest%20a%20new%20theme%20for%20an%20upcoming%20sprint%20in%20the%20Opportunity%20Project.">
        <div class="data-kit__suggest">
          <img class="data-kit__icon-suggestion"
          src="{{site.baseurl}}/assets/images/icons/suggestion.svg"
          alt="Icon for suggestions" />
          <p>Suggest a theme</p>
        </div>
      </a>
    </div>
  </div>
</div>
