<section class="bg-base-darkest">
  {% for item in page.featured_items %}
  <section class="usa-section usa-graphic-list grid-container" aria-label="{{ item.name }} Section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        {% if item.text_align == "right" %}
          <div class="desktop:grid-col-8 tablet:grid-col-6 usa-media-block margin-bottom-3 desktop:margin-bottom-0">
            {% include image.html src=item.img alt=item.alt %}

          </div>
          <div
            class="desktop:grid-col-4 tablet:grid-col-6 usa-media-block__inline-items margin-bottom-3 desktop:margin-bottom-0"
          >
            <div class="usa-media-block__body margin-top-4">
              <div class="inline-number">
                {% include flag-and-star.html %}
              </div>
              <div class="inline-text  padding-left-05">
                <p class="font-mono-3xs text-ls-2 text-light"> FEATURED </p>
              </div>
              <h2 class="font-sans-xl">{{ item.name}}</h2>
              <p class="font-mono-xs text-ls-2 text-light">{{ item.team | upcase }}</p>
              <p>{{ item.description}}</p>
              <button class="usa-button__secondary-white" type="button" name="button"><a href="{{ item.button-link }}">View Case Study</a></button>
            </div>
          </div>
        {% else %}
          <div
            class="desktop:grid-col-4 tablet:grid-col-6 usa-media-block__inline-items margin-bottom-3 desktop:margin-bottom-0"
          >
            <div class="usa-media-block__body margin-top-4">
              <div class="inline-number">
                {% include flag-and-star.html %}
              </div>
              <div class="inline-text padding-left-05">
                <p class="font-mono-3xs text-ls-2 text-light"> FEATURED </p>
              </div>
              <h2 class="font-sans-xl">{{ item.name}}</h2>
              <p class="font-mono-xs text-ls-2 text-light">{{ item.team | upcase }}</p>
              <p>{{ item.description}}</p>
              <button class="usa-button__secondary-white" type="button" name="button"><a href="{{ item.button-link }}">View Case Study</a></button>
            </div>
          </div>
          <div class="desktop:grid-col-8 tablet:grid-col-6 usa-media-block margin-bottom-3 desktop:margin-bottom-0">
            {% include image.html src=item.img alt=item.alt %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endfor %}
  <div
    class="usa-media-block padding-top-11 padding-bottom-9 display-flex flex-column flex-align-center"
  >
    <div>
      <button class="usa-button__primary-red margin-2" type="button" name="button"><a href="{{ site.baseurl }}/showcase" class="display-inline-block">All Products</a></button>
      <button class="usa-button__primary-red margin-2" type="button" name="button"><a href="{{ site.baseurl }}/assets/files/annual_report_2019.pdf" target="_blank" class="display-inline-block">View 2019 Annual Report (PDF)</a></button>
    </div>
  </div>
</section>
