<footer class="usa-footer site-footer" role="contentinfo">
  <div class="usa-footer__secondary-section">
    <div class="grid-container footer-content padding-left-4 padding-right-3">


      <div class="grid-row">
        {% for section in site.data.nav.footer %}
        <div class="usa-media-block__footer tablet:grid-col-2">
          <h3 class="padding-top-4 tablet:padding-y-4 desktop:padding-y-5 font-family-serif text-normal">
            {% if section.subsection.href %}
            <a href="{{ section.subsection.href }}" class="text-underline">{{ section.subsection.title }}</a>
            {% else %}
            {{ section.subsection.title }}
            {% endif %}
          </h3>
          {% if section.subsection.links %}
          <ul class="add-list-reset">
            {% for link in section.subsection.links %}
            <li>
              <a href="{{site.baseurl}}/{{ link.href }}" class="text-underline">{{ link.text }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
          {% endfor %}

        <div class="usa-media-block__footer display-none tablet:display-block tablet:grid-col-2 subsection-subscribe">
          <h3 class="padding-top-4 desktop:padding-top-5 font-family-serif text-normal">Subscribe</h3>
          <p class="margin-0 padding-top-2">
          Sign up to our email list to be notified of<br> news and opportunities.
          </p>
          <a href="{{ site.contacts.mailing-list }}" class="usa-button usa-button--secondary  site-button site-cta width-full text-bold">
            SIGN UP
          </a>
          <!-- check mobile button -->
        </div>
      </div>


      <div class="grid-row margin-top-2 tablet:display-none">
        <div class="tablet:order-last tablet:padding-left-3">
          <div class="usa-media-block__footer">
            <p class="text-top-black">
              Sign up to our email list <br> to be notified of news<br> and opportunities.
            </p>
            <a href="{{ site.contacts.mailing-list }}"
              class="usa-button usa-button--secondary  site-button site-cta text-bold">
              SIGN UP
            </a>
          </div>
          <!-- check tablet/desktop button -->
        </div>
      </div>

    </div>
  </div>

  <div class="footer-section-bottom usa-media-block__footer grid-row display-flex flex-align-center opacity-80 margin-top-5 tablet:margin-top-1 padding-bottom-5">
    {% for bottomLink in site.data.nav.footer-bottom %}
    <a href="{% unless bottomLink.isExternal %}{{ site.baseurl }}/{% endunless %}{{ bottomLink.href }}" class="border-base-dark
             {% unless forloop.first %} border-left padding-left-2 {% endunless %}
             {% unless forloop.last %} padding-right-2 {% endunless %}
            ">{{ bottomLink.text }}</a>
    {% endfor %}
  </div>
  </div>
  </div>
</footer>