<footer class="top-form-footer" role="contentinfo">
  <div class="top-form-footer-content">
    {% for bottomLink in site.data.nav.footer-bottom %}
      <a href="{% unless bottomLink.isExternal %}{{ site.baseurl }}/{% endunless %}{{ bottomLink.href }}"
        class="border-base-dark
          {% unless forloop.first %} border-left padding-left-2 {% endunless %}
          {% unless forloop.last %} padding-right-2 {% endunless %}
        "
      >{{ bottomLink.text }}</a>
    {% endfor %}
  </div>
</footer>