<footer class="usa-footer site-footer" role="contentinfo">
  <div class="usa-footer__secondary-section">
    <div class="grid-container footer-content">
      <a href="{{site.baseurl}}">
        Return to top
      </a>
      <h3>The Opportunity Project</h3>
      <div class="grid-row footer-contact-links">
        <div class="grid-col-3">
          <div class="usa-media-block">
            <div class="usa-media-block__body">
              <a href="{{ site.repos[0].url }}/issues/new">
                Report an issue
              </a>
            </div>
          </div>
        </div>
        <div class="grid-col-2">
          <div class="usa-media-block">
            <div class="usa-media-block__body">
              <a href="{{ site.baseurl }}/about">
                About
              </a>
            </div>
          </div>
        </div>
        <div class="grid-col-2">
          <div class="usa-media-block">
            <div class="usa-media-block__body">
              <a href="{{ site.baseurl }}/sprints">
                Get Involved
              </a>
            </div>
          </div>
        </div>
        <div class="grid-col-2">
          <div class="usa-media-block">
            <div class="usa-media-block__body">
              <a href="{{ site.baseurl }}/showcase">
                Products
              </a>
            </div>
          </div>
        </div>
        <div class="grid-col-3">
          <div class="usa-media-block">
            <div class="usa-media-block__body">
              <p>Stay in the loop</p>
              <p>Subscribe to an email list to be notified of news and opportunities.</p>
              <a href="#">
                Join Email List
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-section-bottom">
    </div>
  </div>
</footer>
