<footer class="usa-footer site-footer bg-base-darkest" role="contentinfo">
  <div class="usa-footer__secondary-section bg-base-darkest">
    <div class="grid-container footer-content">
      
      <div class="grid-row footer-contact-links margin-top-0">
        <div class="grid-col-6 tablet:grid-col-3">
          <div class="usa-media-block__body usa-media-block__footer">
            <p class="font-sans-2xs">
              <a href="{{ site.baseurl }}" id="return-to-top">
                Return to Top
              </a>
            </p>
            <p class="font-sans-sm">The Opportunity Project</p>
          </div>
        </div>

        <div class="grid-col-6 tablet:grid-col-3 tablet:order-last tablet:padding-left-3">
          <div class="usa-media-block__footer">
            <p class="font-sans-2xs text-bold text-white">Stay in the Loop</p>
            <p class="font-sans-2xs text-white">
              Subscribe to an email list to be notified of news and
              opportunities.
            </p>
            <a href="{{ site.contacts.mailing-list }}"
               class="btn-link__secondary-white">
              Get Updates
            </a>
            </button>
          </div>
        </div>

        <!-- display main links -->
        {% assign perCol = 4 %}
        {% for link in site.data.nav.footer %}
          {% assign remainder = forloop.index0 | modulo: perCol %}
          {% if remainder == 0 %}
            {% if forloop.first == false %}
                </div>
              </div>
            {% endif %}

            <div class="grid-col-4 tablet:grid-col-2">
              <div class="usa-media-block__footer">
          {% endif %}

                <p class="border-bottom border-base-dark padding-bottom-05">
                  
                  <a href="{% unless link.isExternal %}{{ site.baseurl }}/{% endunless %}{{ link.href }}">
                    {{ link.text }}
                  </a>
                </p>
          {% if forloop.index0 | modulo: perCol != 0 and forloop.last %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
 
        
      </div>
      
      <div
        class="footer-section-bottom usa-media-block__footer grid-row display-flex flex-align-center padding-top-4"
      >
        {% for bottomLink in site.data.nav.footer-bottom %}
          <a href="{% unless bottomLink.isExternal %}{{ site.baseurl }}/{% endunless %}{{ bottomLink.href }}"
            class="border-base-dark
             {% unless forloop.first %} border-left padding-left-2 {% endunless %}
             {% unless forloop.last %} padding-right-2 {% endunless %}
            "
          >{{ bottomLink.text }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>