<section class="usa-section usa-graphic-list grid-container">
  {% assign case_studies = site.data.case_studies %}
    <div class="grid-row grid-gap">
      {% for case in case_studies %}
        <div
          class="desktop:grid-col-4 tablet:grid-col-4 usa-media-block__background-image-landscape margin-bottom-3 desktop:margin-bottom-0"
        >
          <!-- {% if case.image %}
            <img src="{{ site.baseurl}}/assets/img/{{ photo.image }}" alt="{{ photo.image-alt }}">
          {% endif %} -->
          <img
            src="{{ site.baseurl }}/img/products/test.png"
            alt="screenshot of City Builder website"
          />
          <div class="content-grid-one-third">
            {% if case.product_name %}
              <h2>{{ case.product_name }}</h2>
            {% endif %}
            {% if case.tech_team %}
              <p class="font-mono-sm">{{ case.tech_team }}</p>
            {% endif %}
            {% if case.overlay_text%}
              <p class="font-sans-2xs">{{ case.overlay_text}}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  <hr class="margin-top-9 margin-bottom-7">
  <form id="product-search-form" class="usa-search usa-search--small" role="search">
    <label class="usa-sr-only" for="search-field">Search by product name</label>
    <input class="usa-input" id="search-field" type="search" name="search" placeholder="Search by product name">
    <button class="usa-button__primary-dark" type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </form>

  <form id="product-filter-form">
    <div class="grid-row grid-gap margin-top-3">
      <div class="desktop:grid-col-3 tablet:grid-col-3  display-inline-block">
        <div class="usa-accordion usa-accordion--bordered">
          <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button"
              aria-expanded="false"
              aria-controls="topics">
              Topic
            </button>
          </h2>
          <div id="topics" class="usa-accordion">
            {% for topic in site.data.product-filters.topics %}
                <div class="usa-checkbox">
                  <input class="usa-checkbox__input" id="{{ topic }}" type="checkbox" name="filter-checkbox" value="{{ topic }}">
                  <label class="usa-checkbox__label" for="{{ topic }}">{{ topic }}</label>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="desktop:grid-col-3 tablet:grid-col-3 display-inline-block">
        <div class="usa-accordion usa-accordion--bordered">
          <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button"
              aria-expanded="false"
              aria-controls="year">
              Year
            </button>
          </h2>
          <div id="year" class="usa-accordion">
            {% for year in site.data.product-filters.years %}
                <div class="usa-checkbox">
                  <input class="usa-checkbox__input" id="{{ year }}" type="checkbox" name="filter-checkbox" value="{{ year }}">
                  <label class="usa-checkbox__label" for="{{ year }}">{{ year }}</label>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="desktop:grid-col-3 tablet:grid-col-3 display-inline-block">
        <div class="usa-accordion usa-accordion--bordered">
          <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button"
              aria-expanded="false"
              aria-controls="agency">
              Agency
            </button>
          </h2>
          <div id="agency" class="usa-accordion">
            {% for agency in site.data.product-filters.agencies %}
                <div class="usa-checkbox">
                  <input class="usa-checkbox__input" id="{{ agency }}" type="checkbox" name="filter-checkbox" value="{{ agency }}">
                  <label class="usa-checkbox__label" for="{{ agency }}">{{ agency }}</label>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="desktop:grid-col-3 tablet:grid-col-3 display-inline-block">
        <input class="usa-button__primary-dark margin-top-05" type="submit" value="Filter Products">
      </div>
    </div>
  </form>

  <ul class="usa-card-group margin-top-7">
    {% assign products = site.data.products %}
    {% for product in products %}
      <li id="product-card-{{product.product_name | slugify}}" class="desktop:grid-col-3 tablet:grid-col-3 usa-card product-card-active" name="productCard">
        <div class="usa-card__container bg-base-darkest">
          <header class="usa-card__header">
            <h2 class="usa-card__heading text-white font-sans-md" value="{{product.product_name | slugify}}">{{ product.product_name }}</h2>
            <h3 class="pc-inactive">{{ product.year }}</h3>
            <h4 class="pc-inactive">{{ product.cohort }}</h4>
            <h5 class="pc-inactive">{{ product.agency }}</h5>
          </header>
          <div class="usa-card__body">
            <p class="font-mono-xs text-white">{{ product.tech_team | upcase }}</p>
          </div>
          <div class="usa-card__img">
            <img
              src="{{ site.baseurl }}/img/products/test.png"
              alt="screenshot of City Builder website"
            />
          </div>
        </div>
      </li>
      <div id="modal-{{ product.product_name | slugify }}" class="modal modal-inactive">
        <div class="grid-row">
          <div class="modal-content desktop:grid-col-8 tablet:grid-col-8">
            <div class="display-inline-block desktop:grid-col-6 tablet:grid-col-6">
              <img
                src="{{ site.baseurl }}/img/products/test.png"
                alt="screenshot of City Builder website"
              />
            </div>
            <div class="display-inline-block float-right desktop:grid-col-5 tablet:grid-col-5 padding-bottom-5 padding-left-5">
              <span class="close">&times;</span>
              <h2 class="font-sans-md">{{ product.product_name }}</h2>
              <p class="font-mono-xs">{{ product.tech_team | upcase }}</p>
              <p>{{ product.description_new }}</p>
              <p>Datasets Used</p>
              <p>
                {% for dataset in product.data_sets %}
                  {{ dataset }}
                {% endfor %}
              </p>
              <button class="usa-button__primary-red" type="button" name="button"><a href="{{ product.link }}" target="_blank">Go to Product</a></button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </ul>
</section>
