{% if page.class == "home" %}
{% assign hero = page.hero %}
<section class="usa-hero">
  <div class="grid-container usa-hero__bg">
    <h1 class="usa-hero__title grid-col-8">{{ page.hero.text}}</h1>
    <p class="usa-hero__subtitle grid-col-6">{{ page.hero.subtext }}</p>
  </div>
{% else %}
<section class="interior-hero">
  <div class="grid-container interior-hero__bg"  style="background-image: url('{{page.hero.image | prepend: site.baseurl}}');">
    <div class="interior-hero__callout">
      <h2 class="interior-hero__title">{{ page.hero.text}}</h2>
      <p>{{ page.hero.subtext }}</p>
    </div>
  </div>
{% endif %}
</section>
