{% assign data = include.data %}
<section class="bg-base grid-container padding-y-7 padding-x-4 how-it-works-details">
  <ol class="bg-white padding-y-4">
    <li>
      Identify Challenges
      <p>Government agencies or non-governmental organizations (NGOs) identify high-priority problems they seek to solve through the sprint. Challenges can be any priority facing the public.</p>
    </li>
    <li>
      Team Up
      <p>Technologists from industry, NGOs, and universities sign on to create data-driven, digital products in collaboration
      with end users, community advocates, and data experts.</p>
    </li>
    <li>
      <div class="text-wrapper padding-x-4 padding-top-4 padding-bottom-5 margin-y-4 bg-white">


        <h3 class="margin-0">Build</h3>


        <p class="margin-bottom-0 overflow-hidden">
          Tech teams build products during a 12-14 week technology development sprint that includes user research, data
          exploration, and product development. Past products include mapping tools, apps, websites, games, AI algorithms, network
          visualizations, and more.
        </p>
          <div class="grid-col">
            <div class="usa-accordion usa-accordion--multiselectable padding-top-2 padding-bottom-5" data-allow-multiple>
              <h4 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button light bg-blue text-white" aria-expanded="true"
                  aria-controls="m-a1">
                  Sprint Milestones
                </button>
              </h4>

              <div id="m-a1" class="usa-accordion__content usa-prose">
                <ol>
                  <li class="text-bold margin-bottom-2">User Research:
                    <p class="text-normal display-inline">Teams conduct user research and connect with user advocates who can offer insights into their communities.</p>
                </li>
                  <li class="text-bold margin-bottom-2">Data Discovery:
                    <p class="text-normal display-inline"> Teams begin identifying and exploring relevant datasets and connect with data stewards via email and phone to learn more about available datasets.</p>
                </li>
                  <li class="text-bold margin-bottom-2">Concept Pitch:
                    <p class="text-normal display-inline">Teams present their initial progress and product concept for feedback.</p>
                  </li>
                  <li class="text-bold margin-bottom-2">Product Advising:
                    <p class="text-normal display-inline">Teams are paired with 1:1 product advisors that meet with the teams outside of milestones to discuss launch and product maintenance strategy</p>

                </li>
                  <li class="text-bold margin-bottom-2">Beta Demo:
                    <p class="text-normal display-inline">Teams present a prototype of their product for feedback.</p>
                  </li>
                  <li class="text-bold margin-bottom-2">MVP Demo:
                    <p class="text-normal display-inline">Teams present a minimum viable product as the final outcome of the sprint and receive feedback on sustainability and longevity of their work.</p>
                  </li>
                </ol>

              </div>

            </div>

          </div>
      </div>
    </li>
    <li>
      Launch
      <p>Products are launched and federal agencies can decide how they want to showcase the results of their sprint.</p>
    </li>
    <li>
      Reach End Users
      <p>After the sprint, participants have the option to stay in touch and continue product development and deployment.</p>
    </li>
  </ol>
</section>