{% assign data = include.data %}
<section class="how-it-works-details-bg">
  <div class=" how-it-works-details ">
    <div class="grid-container padding-x-0">
    <ol class="padding-y-2 margin-0 padding-x-0">
      <li class="bg-white padding-2 tablet:padding-3
      desktop:padding-y-4 desktop:padding-x-5 margin-bottom-3 desktop:margin-bottom-7 text-bold font-family-serif">
        Identify Challenges
        <p class="text-normal font-family-sans
        ">Government agencies or non-governmental organizations (NGOs) identify high-priority problems they seek to solve through the sprint. Challenges can be any priority facing the public.</p>
      </li>
      <li class="bg-white padding-2 tablet:padding-3
      desktop:padding-y-4 desktop:padding-x-5 margin-bottom-3 desktop:margin-bottom-7 text-bold font-family-serif">
        Team Up
        <p class="text-normal font-family-sans">Technologists from industry, NGOs, and universities sign on to create data-driven, digital products in collaboration
        with end users, community advocates, and data experts.</p>
      </li>
      <li class="bg-white padding-2 tablet:padding-3
      desktop:padding-y-4 desktop:padding-x-5 margin-bottom-3 desktop:margin-bottom-7 text-bold font-family-serif">
        Build
        <div>
          <p class="margin-bottom-0 overflow-hidden text-normal font-family-sans">
            Tech teams build products during a 12-14 week technology development sprint that includes user research, data
            exploration, and product development. Past products include mapping tools, apps, websites, games, AI algorithms, network
            visualizations, and more.
          </p>
            <div class="grid-col">
              <div class="usa-accordion usa-accordion--multiselectable padding-top-2" data-allow-multiple>
                <h4 class="usa-accordion__heading font-family-serif">
                  <button type="button" class="usa-accordion__button light  text-white" aria-expanded="true"
                    aria-controls="m-a1">
                    Sprint Milestones
                  </button>
                </h4>

                <div id="m-a1" class="usa-accordion__content usa-prose padding-x-0">
                  <ol class="padding-x-0">
                    <li class="text-bold outline-0 margin-bottom-2 maxw-full">User Research:
                      <p class="text-normal display-inline">Teams conduct user research and connect with user advocates who can offer insights into their communities.</p>
                  </li>
                    <li class="text-bold outline-0 margin-bottom-2 maxw-full">Data Discovery:
                      <p class="text-normal display-inline"> Teams begin identifying and exploring relevant datasets and connect with data stewards via email and phone to learn more about available datasets.</p>
                  </li>
                    <li class="text-bold outline-0 margin-bottom-2 maxw-full">Concept Pitch:
                      <p class="text-normal display-inline">Teams present their initial progress and product concept for feedback.</p>
                    </li>
                    <li class="text-bold outline-0 margin-bottom-2 maxw-full">Product Advising:
                      <p class="text-normal display-inline">Teams are paired with 1:1 product advisors that meet with the teams outside of milestones to discuss launch and product maintenance strategy</p>

                  </li>
                    <li class="text-bold outline-0 margin-bottom-2 maxw-full">Beta Demo:
                      <p class="text-normal display-inline">Teams present a prototype of their product for feedback.</p>
                    </li>
                    <li class="text-bold outline-0 maxw-full">MVP Demo:
                      <p class="text-normal display-inline">Teams present a minimum viable product as the final outcome of the sprint and receive feedback on sustainability and longevity of their work.</p>
                    </li>
                  </ol>

                </div>

              </div>

            </div>
        </div>
      </li>
      <li class="bg-white padding-2 tablet:padding-3
      desktop:padding-y-4 desktop:padding-x-5 margin-bottom-3 desktop:margin-bottom-7 text-bold font-family-serif">
        Launch
        <p class="text-normal font-family-sans">Products are launched and federal agencies can decide how they want to showcase the results of their sprint.</p>
      </li>
      <li class="bg-white padding-2 tablet:padding-3
      desktop:padding-y-4 desktop:padding-x-5 margin-bottom-3 text-bold font-family-serif">
        Reach End Users
        <p class="text-normal font-family-sans">After the sprint, participants have the option to stay in touch and continue product development and deployment.</p>
      </li>
    </ol>

    <div class="display-flex flex-justify-center">
      <a href="https://opportunity.census.gov/topx-toolkit/" target="_blank"
        class="usa-button text-ink margin-top-2 tablet:padding-y-2 padding-x-3   tablet:margin-top-4 site-button bg-white">
        Facilitate a TOP sprint at your agency on your timeline with the TOPx Toolkit.
      </a>
    </div>
    </div>
  </div>
</section>