<main class="bg-base-darkest">
  <section class="usa-section usa-graphic-list grid-container">
    <h2>Past Participants</h2>
    <div class="grid-row grid-gap">
      {% for item in site.data.logos-partners %}
      <div
        class="desktop:grid-col-2 tablet:grid-col-2 usa-media-block margin-bottom-3"
      >
        {% if item.image %}
          <img class="logo-garden" src="{{site.baseurl}}/assets/img/logos-partners/{{item.image}}" alt="{{item.alt}}">
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </section>
</main>
