<section class="bg-base-darkest border-base-darker border-top">
  <section class="usa-section usa-graphic-list grid-container margin-bottom-0">
    <div
      class="usa-media-block__inline-items display-flex flex-column flex-align-center"
    >
      <div class="usa-media-block__body">
        <div class="inline-number">
          {% include flag-and-star.html %}
        </div>
        <div class="inline-text  padding-left-05">
          <p class="font-mono-3xs text-ls-2 text-light"> PAST PARTICIPANTS </p>
        </div>
      </div>
    </div>
  </section>
  <div class="logo-garden-mobile grid-container">
  {% for logo in site.data.logos-partners %}
    <div class="grid-col-2 margin-3 display-inline-block">
      <img src="{{site.baseurl}}/assets/img/logos-partners/{{ logo.image }}" alt="{{ logo.alt }} logo">
    </div>
  {% endfor %}
  </div>
  <section class="logo-garden-desktop display-flex flex-column flex-align-center margin-bottom-9">
    <div class="logo-garden-container">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/mapbox.webp" alt="Mapbox logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/linkedin.webp" alt="LinkedIn logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/ibm.webp" alt="IBM logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/citi.webp" alt="Citi logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/mit.webp" alt="MIT logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/esri.webp" alt="Esri logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/redfin.webp" alt="Redfin logo">
    </div>
    <div class="logo-garden-container">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/cisco.webp" alt="Cisco logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/airbnb.webp" alt="Airbnb logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/bloomberg.webp" alt="Bloomberg logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/nextdaybetter.webp" alt="Next Day Better logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/spatialnetworks.webp" alt="Spatial Networks logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/motivf.webp" alt="Motivf logo">
    </div>
    <div class="logo-garden-container">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/fitbit.webp" alt="Fitbit logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/cori.webp" alt="Center on Rural Innovation logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/mastercard.webp" alt="mastercard logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/excella.webp" alt="Excella logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/ccsso.webp" alt="Council of Chief State School Officers logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/measure-of-america.webp" alt="Measure of America logo">
      <img class="logo-garden-item" src="{{site.baseurl}}/assets/img/logos-partners/homestretch.webp" alt="homestretch logo">
    </div>
    <div class="logo-garden-container">
      <img class="logo-garden-large" src="{{site.baseurl}}/assets/img/logos-partners/naleo.webp" alt="National Association of Latino Elected & Appointed Officials seal">
      <img class="logo-garden-large" src="{{site.baseurl}}/assets/img/logos-partners/columbia.webp" alt="Columbia University crest">
      <img class="logo-garden-large" src="{{site.baseurl}}/assets/img/logos-partners/Choctaw-Nation.webp" alt="Choctaw Nation seal">
      <img class="logo-garden-large" src="{{site.baseurl}}/assets/img/logos-partners/state-of-hawaii.webp" alt="State of Hawaii seal">
    </div>
</section>
