{% assign title = site.title %}
{% if page.class == "home" -%}
  {% assign title = page.title %}
{% else %}
  {% assign title = page.title | append: ' | ' | append: title %}
{% endif %}
<title>{{ title }}</title>

<!-- Twitter cards -->
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}


<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{site.baseurl}}/assets/img/social-media-preview.png">

<!-- end of Twitter cards -->


<!-- OG/Facebook cards -->

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website">
<meta property="og:url" content="https://opportunity.census.gov">
<meta name="og:title"   content="{{ page.title }}">
<meta name="og:card"  content="summary_large_image">
<meta name="og:image" content="{{site.baseurl}}/assets/img/social-media-preview.png">

{% if page.description %}
<meta name="og:description" content="{{ page.description }}">
{% else %}
<meta name="og:description" content="{{ site.description }}">
{% endif %}

<!-- end of OG/FB cards -->
