{% assign title = site.title %}
{% if page.class == "home" -%}
  {% assign title = page.title %}
{% else %}
  {% assign title = page.title | append: ' | ' | append: title %}
{% endif %}
<title>{{ title }}</title>

{% assign pageData = site.data.pages | where: "url", page.url %}
{% if pageData %}
  <meta name="description" content="{{ pageData[ 0 ].meta }}">
{% endif %}

<!-- cards -->
<meta property="og:title" content="The Opportunity Project">
<meta property="og:description" content="{{site.description}}">
<meta property="og:image" content="https://opportunity.census.gov/assets/img/social-media-preview.png">
<meta property="og:url" content="https://opportunity.census.gov">
<meta name="twitter:card" content="summary_large_image">
<!-- end of OG/FB cards -->
