<a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% include banner.html %}
<header class="usa-header sticky site-header site-header-dark border-base-darker border-bottom z-500" role="banner">
  <div class="usa-navbar site-header-navbar">
    
    <div class="usa-logo site-logo logo-image-mobile" id="logo-mobile">
      <a class="margin-right-05" href="{{ site.baseurl }}/" title="Home" aria-label="{{ site.title }} home">
        <span>{% include image.html src="top-logo-mobile.png" alt="The Opportunity Project Logo" class="logo-image logo-image-mobile padding-top-1" %}</span>
      </a>
    </div>
    <div class="usa-logo site-logo logo-image-desktop margin-left-2 margin-right-5" id="logo">
      <a class="margin-right-05" href="{{ site.baseurl }}/" title="Home" aria-label="{{ site.title }} home">
        <span>{% include image.html src="TOP-logo.png" alt="The Opportunity Project Logo" class="logo-image padding-top-1" %}</span>
      </a>
    </div>

  </div>
</header>