<a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% include banner.html %}
<header class="top-form-header" role="banner">
  <div class="top-navbar">
    
    <div class="top-logo-mobile" id="logo-mobile">
      <a class="top-logo-link" href="{{ site.baseurl }}/" title="Home" aria-label="{{ site.title }} home">
        <span>{% include image.html src="top-logo-mobile.png" alt="The Opportunity Project Logo" class="logo-image logo-image-mobile padding-top-1" %}</span>
      </a>
    </div>
    <div class="top-logo-desktop" id="logo">
      <a class="top-logo-link" href="{{ site.baseurl }}/" title="Home" aria-label="{{ site.title }} home">
        <span>{% include image.html src="TOP-logo.png" alt="The Opportunity Project Logo" class="logo-image padding-top-1" %}</span>
      </a>
    </div>

  </div>
</header>