<a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% include banner.html %}
<header class="usa-header sticky site-header site-header-dark border-base-darker border-bottom z-500" role="banner">
  <div class="usa-navbar site-header-navbar">
    <div class="usa-logo site-logo" id="logo">
      <em class="usa-logo__text">
        <a class="margin-right-05" href="{{ site.baseurl }}/" title="Home" aria-label="{{ site.title }} home">
          <span aria-hidden="true" class="site-title-short">The Opportunity Project</span>
          <span class="site-title">{{ site.title }}</span>
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
    <div class="navbar--container">
      <nav class="usa-nav">
        <ul class="usa-nav__primary usa-accordion">
          {% assign links = site.data.nav.primary %}
          {% for link in links %}
            {% if link.accordion %}
              <li class="usa-nav__primary-item">
                <button class="usa-accordion__button usa-nav__link  usa-current font-mono-xs text-white" aria-expanded="false" aria-controls="extended-nav-section-one"><span>{{ link.text | upcase}}</span></button>
                <ul id="extended-nav-section-one" class="usa-nav__submenu">
                  {% for subnav in link.accordion %}
                    <li class="usa-nav__submenu-item">
                      <a href="{{ site.baseurl }}/{{link.href}}/{{subnav.href}} font-mono-xs text-white">{{ subnav.text | upcase }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="usa-nav__primary-item">
                <a class="usa-nav__link font-mono-xs text-white" href="{{ site.baseurl }}/{{ link.href }}"><span>{{ link.text | upcase }}</span></a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <div class="get-involved">
        <!-- <form
          id="search_form"
          class="navbar__search usa-search usa-search--small desktop:margin-2 display-none desktop:display-inline-block float-left text-middle"
          action="https://search.usa.gov/search"
          accept-charset="UTF-8"
          method="get">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="affiliate" id="affiliate" value="uswds" />
          <div role="search">
            <label class="usa-sr-only" for="query">Search</label>
            <input
              id="query"
              class="usa-input usagov-search-autocomplete"
              name="query"
              type="search"
              autocomplete="off"/>
            <button
              class="usa-button"
              type="submit"
              name="commit">
              <span class="usa-sr-only">Search</span>
            </button>
          </div>
        </form> -->
        <a href="{{site.baseurl}}/get-involved/join-a-sprint"><button type="button" name="get-involved" class="usa-button__primary-red margin-0 padding-4">Get Involved</button></a>
      </div>
    </div>
  </div>
</header>

<div class="usa-overlay"></div>

<nav role="navigation" class="usa-nav site-nav sidenav-mobile">
  <button class="usa-nav__close">
    <span class="usa-sr-only">Close</span>
  </button>

  <!-- <form
    id="search_form-mobile"
    class="usa-search usa-search--small desktop:margin-right-4"
    action="https://search.usa.gov/search"
    accept-charset="UTF-8"
    method="get">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="affiliate" id="affiliate-mobile" value="uswds" />
    <div role="search">
      <label class="usa-sr-only" for="query-mobile">Search</label>
      <input
        id="query-mobile"
        class="usa-input usagov-search-autocomplete"
        name="query"
        type="search"
        autocomplete="off"/>
      <button
        class="usa-button margin-top-0"
        type="submit"
        name="commit">
        <span class="usa-sr-only">Search</span>
      </button>
    </div>
  </form> -->
  <div class="usa-nav__inner">
    <ul class="usa-nav__primary usa-accordion">
      {% include nav/sections.html sections=site.data.nav.mobile %}
    </ul>
  </div>
</nav>
