<div class="grid-row grid-gap display-flex flex-wrap usa-collection">
  {% for card in include.content %}
    {% if card.img %}
      <div class="grid-col-12 tablet:grid-col-6">
        <img src="{{site.baseurl}}/assets/img/{{ card.img }}"/>
      </div>
    {% endif %}
    <div class="grid-col-12 tablet:grid-col-6
      padding-top-2 usa-collection__item">
      <div class="usa-collection__body news-card">
        <span class="usa-collection__meta-item">
          {{ card.date }}
        </span>
        <h3 class="usa-collection__heading">
          <a href="{{ card.href }}">{{ card.publication }}</a>
        </h3>
        <p class="usa-collection__description">{{ card.text }}</p>
        {% if card.details %}
          <p class="usa-collection__description details">{{ card.details }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>