<div class="grid-row grid-gap" id="news-div">
  <div
    class="tablet:grid-col-6 margin-bottom-1 tablet:margin-bottom-0
    usa-media-block__background-image-portrait 
    display-flex flex-column"
  >
    <div class="padding-y-5 height-full"
      title="{{ include.content.featured.alt }}"
      style="background-image: url({{ site.baseurl }}/assets/{{ include.content.featured.img }});
              background-size: cover;">
    
      <div class="card-header margin-top-5">
        <p class="font-mono-xs margin-bottom-5">{{ include.content.featured.date }}</p>
        <h3>
          <a
            href="{{ include.content.featured.href }}"
          >
            {{ include.content.featured.text }}
          </a>
        </h3>
        <p>{{ include.content.featured.publication }}</p>
      </div>
    </div> <!-- end featured card -->

    {% if include.content.side-cards.size > 2 %}
      <div class="write-a-story
        display-none tablet:display-flex">
        <p>Want to write a story on TOP?</p>
        <button
          class="usa-button__secondary-gray"
          type="button"
          name="button"
        >
          <a href="mailto:Census.opportunityproject@census.gov">Let's Talk</a>
        </button>
      </div>
    {% endif %}
  </div> <!-- end column -->

  <div
    class="tablet:grid-col-6
      display-flex flex-column flex-space-between"
  >
    {% for card in include.content.side-cards %}
      <div
        class="usa-media-block__background-image-landscape 
        {% unless forloop.last %}margin-bottom-1{% endunless %}"
        style="background-image: url({{ site.baseurl}}/assets/{{ card.img }});
              background-size: cover;" >
        <div class="content">
          <h4>
            <a
              href="{{ card.href }}"
            >
              {{ card.text }}
            </a>
          </h4>
          <p class="margin-bottom-0">{{ card.publication }}</p>
          <p class="font-mono-xs margin-top-0">{{ card.date }}</p>
        </div>
      </div>
    {% endfor %}
  </div> <!-- end column -->
</div>

<div class="write-a-story
  {% if include.content.side-cards.size > 2 %}
    tablet:display-none display-flex
  {% endif %}">
  <p>Want to write a story on TOP?</p>
  <button
    class="usa-button__secondary-gray"
    type="button"
    name="button"
  >
    <a href="mailto:Census.opportunityproject@census.gov">Let's Talk</a>
  </button>
</div>

  

