<section class="usa-section usa-graphic-list grid-container">
  <div class="grid-row grid-gap">
    <div
      class="desktop:grid-col-1 tablet:grid-col-1 usa-media-block margin-bottom-3 desktop:margin-bottom-0"
    ></div>
    <h2>News</h2>
  </div>
  <div class="grid-row grid-gap">
    {% for item in page.news_item %}
      {% if item.number == 1 %}
        <div
          class="desktop:grid-col-1 tablet:grid-col-1 usa-media-block margin-bottom-3 desktop:margin-bottom-0"
        ></div>
        <div
          class="desktop:grid-col-5 tablet:grid-col-5 usa-media-block__background-image margin-bottom-3 desktop:margin-bottom-0"
        >
          <img src="{{ site.baseurl}}/assets/img/{{ item.image }}" alt="">
          <div class="content">
            {% if item.organization %}
              <p>{{ item.organization }}</p>
            {% endif %}
            {% if item.title %}
              <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
            {% endif %}
            {% if item.date %}
              <p>{{ item.date }}</p>
            {% endif %}
            {% if item.button_text %}
              <button class="usa-button" type="button" name="button">{{ item.button_text}}</button>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% if item.number == 2 or item.number == 3 %}
        <div
          class="desktop:grid-col-5 tablet:grid-col-5 usa-media-block margin-bottom-3 desktop:margin-bottom-0"
          style="background-image: url('{{ site.baseurl}}/assets/img/{{ item.image }}');"
        >
          {% if item.organization %}
            <p>{{ item.organization }}</p>
          {% endif %}
          {% if item.title %}
            <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
          {% endif %}
          {% if item.date %}
            <p>{{ item.date }}</p>
          {% endif %}
          {% if item.button_text %}
            <button class="usa-button" type="button" name="button">{{ item.button_text}}</button>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
