<div class="grid-row display-flex flex-wrap usa-collection border-left border-bottom">
  {% for card in include.content %}
    {% if card.img %}
      <div class="grid-col-12 tablet:grid-col-6 border-top">
        <img src="{{site.baseur}}/assets/img/{{ card.img }}"/>
      </div>
    {% endif %}
    <div class="grid-col-12 tablet:grid-col-6
      padding-top-2 usa-collection__item
      border-right border-top">
      <div class="usa-collection__body news-card">
        <span class="usa-collection__meta-item">
          {{ card.date }}
        </span>
        <h3 class="usa-collection__heading">
          <a href="{{ card.href }}">{{ card.publication }}</a>
        </h3>
        <p class="usa-collection__description my-special-class">{{ card.text }}</p>
      </div>
    </div>
  {% endfor %}
</div>