{% assign product = include.content %}

{% assign sprints = site.data.sprints | where:"airtable_id", product.sprint[0] %}
{% assign sprint = sprints[0] %}

{% assign problem_statements = site.data.problem_statements | where:"airtable_id", product.problem_statement[0] %}
{% assign problem_statement = problem_statements[ 0 ] %}

{% assign teams=site.data.organizations | where: 'airtable_id', product.tech_team[0] %}
{% assign team = teams[ 0 ] %}

<div class="prize-winner-product">
  <div class="grid-row">
    <div class="tablet:grid-col-6">
      {% assign src = "photos/products/" | append: product.image %}
      {% include image.html src = src alt = product.image-alt %}
    </div>
    <div class="tablet:grid-col-6">
      <h4>
        <a href="{{ product.link }}">
          {{ product.title }}
        </a>
      </h4>

      <p>
        Built by {{ team['Company Name'] }} in the {{ sprint.Name }}
      </p>
      <p>
        Challenge: {{ problem_statement['Full Title'] }}
      </p>
      <p> Awarded $20K</p>
      <p>{{ product.description }}</p>
    </div>
  {% comment %}
    
    
    <div class="tablet:grid-col-3">
      {% include cards/problem-statement-prod-card.html content=product %}
    </div>
    
    <div class="tablet:grid-col-5">
      <h4 class="secondary-header">Description</h4>
      {{ product.description }}
    </div>
    
    <div class="tablet:grid-col-4">
      <h4 class="secondary-header">Sprint</h4>
      {{ sprint.Name }}
      <h4 class="secondary-header">Problem Statement</h4>
      {{ problem_statement['Full Title'] }}
      <br/>
      <p>
        <img src="{{ site.baseurl }}/assets/img/icons/yellow-star.svg" alt="A small, 5-pointed yellow star"/>
        Awarded $20K
      </p>
    </div>
  {% endcomment %}
  
  </div>
</div>