{% assign sprints = site.data.sprints | where:"airtable_id", include.content.Sprints[0] %}
{% assign sprint = sprints[ 0 ] %}

<div class="problem-statement {{ include.active }} ps-{{ include.name }}">
  <div class="grid-row">

    <div class="ps-left-col">
      <span class="secondary-header">Problem Statement</span>
      <h3 class="text-light font-sans-xl line-height-sans-2 margin-top-2 margin-bottom-1">
        {{ include.content['Full Title'] }}
      </h3>
    </div>

    <div class="ps-right-col">
      <div class="ps-right-col-section ps-agency {{ expandedClass }}">
        <h4 class="secondary-header">Agency</h4>
        <p class="margin-top-1">{{ include.content.agency_text }}</p>
      </div>
      <div class="ps-right-col-section ps-target-audience {{expandedClass}}">
        <h4 class="secondary-header">Year</h4>
        <p>{{ sprint.Year }}</p>
      </div>
    </div>
  </div>

</div>