{% assign expandedClass="ps-collapsed" %}
{% if include.isExpanded == true %}
  {% assign expandedClass = "ps-expanded" %}
{% endif %}

{% assign translations = site.data.messages.problem-statement %}
{% assign lookups = site.data.messages.ps-fields %}

<div class="problem-statement">
  <div class="grid-row">

    <div class="ps-left-col {{expandedClass}}">
      <span class="secondary-header">
        {{ site.data.messages.problem-statement.problem-statement[page.lang] }}
      </span>
      <h2 class="text-light font-sans-xl line-height-sans-3 margin-top-1 margin-bottom-1">
        {% assign index = lookups.name[page.lang] %}
        {{ include.content[index] }}
      </h2>
      <div class="lhs-content {{ expandedClass }}">
        <h3 class="problem-statement-subheader">
        {{ site.data.messages.problem-statement.challenge[page.lang] }}:
      </h3>
        {% assign index = lookups.challenge[page.lang] %}
        <p>{{ include.content[index] | markdownify }}</p>
        <h3 class="problem-statement-subheader">{{ site.data.messages.problem-statement.why[page.lang] }}:</h3>
        <p>
          {% assign index = lookups.why-matters[page.lang] %}
          {{ include.content[index] | markdownify }}
        </p>
      </div>
    </div>

    <div class="ps-right-col {{expandedClass}}">
      {% if include.product %}
      <div class="ps-right-col-section ps-products {{expandedClass}}">
        <h3 class="secondary-header products-header {{expandedClass}}">Product Outcome</h3>
        {% include cards/problem-statement-prod-card.html content=include.product utils="small-header-card top-header" %}
        {% if include.isExpanded or include.showMore %}
          <a class="explore-products {{expandedClass}}" 
            href="{{site.baseurl}}/showcase/?search={{ include.content.Name | slugify }}">
            Explore all products →
          </a>
        {% endif %}
      </div>
      {% endif %}

      <div class="ps-right-col-section ps-agency {{ expandedClass }}">
        <h3 class="secondary-header">{{ site.data.messages.problem-statement.agency[page.lang] }}</h3>
        <p class="margin-top-1">
          {% assign index = lookups.agency[page.lang] %}
          {{ include.content[index] }}
        </p>
      </div>

      {% if page.isCurrent and include.content.pdf %}
        <div class="ps-right-col-section ps-cta {{expandedClass}} text-center">
          {% assign pdfIndex = lookups.pdf[page.lang] %}
          <a class="btn-link btn-link__secondary-red btn-link--small text-center ps-pdf" 
            href="{{ site.baseurl }}/assets/files/{{ include.content[pdfIndex] }}" download
          >
            {{ site.data.messages.problem-statement.pdf-download[page.lang] }}
          </a>
        </div>
      {% endif %}

      <div class="ps-right-col-section ps-target-audience {{expandedClass}}">
        <h3 class="secondary-header">{{ site.data.messages.problem-statement.audience[page.lang] }}</h3>
        <p>
          {% assign index = lookups.audience[page.lang] %}
          {{ include.content[index] | markdownify }}
        </p>
      </div>
    </div>
  </div>

  {% if include.showMore %}
  <div class="grid-row">
    <div class="ps-see-more">
      <button class="callout-button {{ expandedClass }}">
        <span>
          {% if include.isExpanded %}
            {{ translations.see-less[page.lang] }}
          {% else %}
            {{ translations.see-more[page.lang] }}
          {% endif %}
        </span>
      </button>
    </div>
  </div>
  {% endif %}
</div>
