{% assign expandedClass="ps-collapsed" %}
{% if include.isExpanded == true %}
  {% assign expandedClass = "ps-expanded" %}
{% endif %}

<div class="problem-statement">
  <div class="grid-row">

    <div class="ps-left-col {{expandedClass}}">
      <span class="secondary-header">Problem Statement</span>
      <h2 class="text-light font-sans-xl line-height-sans-3 margin-top-1 margin-bottom-1">
        {{ include.content['Full Title'] }}
      </h2>
      <div class="lhs-content {{ expandedClass }}">
        <h3 class="problem-statement-subheader">Challenge:</h3>
        <p>{{ include.content.Challenge | markdownify }}</p>
        <h3 class="problem-statement-subheader">Why This Problem is Important:</h3>
        <p>{{ include.content["Why this problem matters"] | markdownify }}</p>
      </div>
    </div>

    <div class="ps-right-col {{expandedClass}}">
      {% if include.product %}
      <div class="ps-right-col-section ps-products {{expandedClass}}">
        <h3 class="secondary-header products-header {{expandedClass}}">Product Outcome</h3>
        {% include cards/problem-statement-prod-card.html content=include.product utils="small-header-card top-header" %}
        {% if include.isExpanded or include.showMore %}
          <a class="explore-products {{expandedClass}}" 
            href="{{site.baseurl}}/showcase/?search={{ include.content.Name | slugify }}">
            Explore all products →
          </a>
        {% endif %}
      </div>
      {% endif %}

      <div class="ps-right-col-section ps-agency {{ expandedClass }}">
        <h3 class="secondary-header">Agency</h3>
        <p class="margin-top-1">{{ include.content.agency_text }}</p>
      </div>

      {% if page.isCurrent and include.content.pdf %}
        <div class="ps-right-col-section ps-cta {{expandedClass}} text-center">
          <a class="btn-link btn-link__secondary-red btn-link--small text-center ps-pdf" 
            href="{{ site.baseurl }}/assets/files/{{ include.content.pdf }}" download
          >
            Download full text (pdf)
          </a>
        </div>
      {% endif %}

      <div class="ps-right-col-section ps-target-audience {{expandedClass}}">
        <h3 class="secondary-header">Target Audience</h3>
        <p>{{ include.content["Target audience / End user"] | markdownify }}</p>
      </div>
    </div>
  </div>

  {% if include.showMore %}
  <div class="grid-row">
    <div class="ps-see-more">
      <button class="callout-button {{ expandedClass }}">
        <span>
          {% if include.isExpanded %}See Less{% else %}See More{% endif %}
        </span>
      </button>
    </div>
  </div>
  {% endif %}

</div>
