{% assign data = include.data %}
<ol class="usa-process-list">
  {% for item in data %}
    <li class="usa-process-list__item">
      <h4 class="usa-process-list__heading">{{ item.text | markdownify }}</h4>
      {% if item.subtitle %}
        <p {% if item.isAlert %}class="usa-alert usa-alert--warning usa-alert--no-icon padding-left-2" {%endif%}>
          {%include markdown_strip_ptags.html data=item.subtitle %}</p>
      {% endif %}
      {% if item.items %}
        <ul>
        {% for subitem in item.items %}
          <li>
            {% if subitem.href %}
              <a class="usa-link" href="{{ subitem.href}}">
                {% include markdown_strip_ptags.html data=subitem.text %}
              </a>
            {% else %}
              {% include markdown_strip_ptags.html data=subitem.text %}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ol>