{% assign id=include.label | slugify %}
{% assign all_options = include.data %}
{% if include.filter %}
  {% assign all_options = "" | split: "," %}     
  {% for product in include.data %}
    {% for cat in product[include.filter] %}
      {% assign all_options = all_options | push: cat %}
    {% endfor %}
  {% endfor %}
  {% assign all_options = all_options | uniq | sort %}
{% endif %}
<div class="product-filter__container usa-accordion desktop:display-inline-block height-5 z-{{include.z}} width-15 tablet:width-card margin-right-2">
  <button class="product-filter__button usa-accordion__button background-right btn-link__secondary-gray"
    aria-expanded="false"
    aria-controls="{{ id }}">
    {{include.label}}
  </button>
  <div id="{{ id }}" class="usa-accordion dropdown-menu">
    {% for option in all_options %}
      {% assign label = option %}
      {% assign value = option %}
      {% if option.label %}
        {% assign label = option.label %}
        {% assign value = option.label %}
        {% if option.value %}
          {% assign value = option.value %}
        {% endif %}
      {% endif %}
      <div class="usa-checkbox scrolled-input">
        <input class="usa-checkbox__input" 
          id="{{ value | replace: ' ', '-' }}" 
          type="checkbox" 
          name="filter-checkbox" 
          value="{{ value }}">
        <label class="usa-checkbox__label" for="{{ value | replace: ' ', '-' }}">{{ label }}</label>
      </div>
    {% endfor %}
  </div>
</div>