<section class="grid-container bg-white desktop:padding-bottom-6">
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-4 tablet:grid-col-4">
      {% for item in page.sidebar %}
        <div class="desktop:border-right border-bottom border-base-lighter padding-2 desktop:padding-left-0">
          {% if item.title %}
            <p class="font-mono-xs text-secondary  margin-top-0">{{ item.title | upcase }}</p>
          {% endif %}
          {% if item.text %}
            {% for p in item.text %}
              <p class="font-sans-2xs text-light">{{ p }}</p>
            {% endfor %}
          {% endif %}
          {% if item.button.link %}
            <button class="usa-button__primary-red margin-bottom-3" type="button" name="button"><a href="{{ item.button.link }}">Go To Product</a></button>
          {% endif %}
          {% if item.list %}
            <ul class="padding-left-3">
              {% for list_item in item.list %}
                <li class="font-sans-2xs text-light">{{ list_item }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class=" grid-offset-1 desktop:grid-col-7 tablet:grid-col-6 desktop:margin-top-9" id="main-content">
      {% assign main-content = page.main-content %}
        <h2>{{ main-content.title }}</h2>
        {% for subsection in main-content.subsections %}
          {% if subsection.title %}
            <h4>{{ subsection.title }}</h4>
          {% endif %}
          {% if subsection.text %}
            <p>{{ subsection.text }}</p>
          {% endif %}
          {% if subsection.list %}
            <ul class="padding-left-3">
              {% for list_item in subsection.list %}
                <li class="font-sans-2xs">{{ list_item }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if subsection.image %}
            <img src="{{site.baseurl}}/assets/img/photos/{{ subsection.image }}" alt="{{ subsection.image-alt }}">
          {% endif %}
        {% endfor %}
    </div>
  </div>
</section>
