{% assign content = page.content-primary%}
<section class="bg-primary ">
  <section class="usa-section grid-container text-white">
    <div class="grid-row grid-gap desktop:margin-top-6  desktop:margin-bottom-6">
      <div class="desktop:grid-col-3 tablet:grid-col-3 grid-offset-1">
        {% if content.title %}
          <h2>{{ content.title }}</h2>
        {% endif %}
      </div>
      <div class="desktop:grid-col-6 tablet:grid-col-6">
        {% if content.description %}
          {% for p in content.description %}
            <p>{{ p }}</p>
          {% endfor %}
        {% endif %}
      </div>
      {% if content.subsections %}
        {% for item in content.subsections %}
          <div class="grid-row grid-gap">
            <div class="desktop:grid-offset-4 tablet:grid-offset-4 desktop:grid-col-2 tablet:grid-col-2">
              <img src="{{ src.baseurl }}/assets/img/{{ item.image }}" alt="{{ item.image-alt }}" class="padding-top-2 padding-bottom-2">
            </div>
            <div class="desktop:grid-col-5 tablet:grid-col-4 display-inline-block">
              {% if item.title %}
                <h3>{{ item.title }}</h3>
              {% endif %}
              {% if item.description %}
                <p>{{ item.description }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </section>
</section>
