<section class="bg-base-darkest">
  <section class="usa-section usa-graphic-list grid-container">
    <div class="grid-row margin-bottom-5 problem-statements">
      <span><h3 class="yr-btn yr-btn-active" id="2019"> 2019 </h3></span>
      <span><h3 class="yr-btn" id="2018"> 2018 </h3></span>
      <span><h3 class="yr-btn" id="2017"> 2017 </h3></span>
      <span><h3 class="yr-btn" id="2016"> 2016 </h3></span>
    </div>
    {% for item in page.explanation-alt.text %}
      <div class="grid-row ps-{{ item.year }} {{ item.default }}" >
        <div
          class="desktop:grid-col-2 tablet:grid-col-2 desktop:grid-offset-2 tablet:grid-offset-2 usa-media-block__body border-white desktop:border-bottom desktop:padding-top-3 desktop:padding-bottom-5"
        >
          <img src="{{ site.baseurl }}/assets/img/{{ item.image }}" alt="{{ item.image-alt }}">
          {% for link in item.links %}
            <div>
              <a class="text-white" href="{{ site.baseurl }}/assets/files/{{ link.link-path}}" target="_blank">{{ link.link-text}}</a><br>
            </div>
          {% endfor %}
        </div>
        <div
          class="desktop:grid-col-6 tablet:grid-col-6 usa-media-block__body usa-media-block__inline-items border-white desktop:border-bottom desktop:padding-left-4 desktop:padding-top-1 desktop:padding-bottom-5 padding-bottom-3"
        >
          <div class="inline-number">
            {% if item.number %}
              <p class="circle-3">{{ item.number }}</p>
            {% endif %}
          </div>
          <div class="inline-text">
            {% if item.title %}
              <h4 class="font-sans-lg">{{ item.title }}</h4>
            {% endif %}
            {% if item.subtitle %}
              <p class="font-mono-3xs text-ls-2 text-light">{{ item.subtitle }}</p>
            {% endif %}
          {% if item.description %}
            <p class="font-mono-3xs text-ls-2 text-secondary text-accent-warm">CHALLENGE</p>
            <p class="font-sans-2xs">{{ item.description }}</p>
          {% endif %}
          {% if item.audience %}
            <p class="font-mono-3xs text-ls-2 text-secondary text-accent-warm">TARGET AUDIENCE</p>
            <p class="font-sans-2xs">{{ item.audience }}</p>
          {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
</section>
