{% assign data = include.data %}



{% for data in data %}
<div class="grid-container  padding-0 {% if data.custom.class %}{{ data.custom.class | slugify }}{% endif %}">
  {% if data.text.title %}
  <h2 class="margin-y-0 font-family-serif text-normal {% if data.text.title %}{{ data.text.title | slugify }}{% endif %}">{{ data.text.title }}
  </h2>
  {% endif %}

  <div class="text-wrapper padding-205 tablet:padding-3 {%if data.role %} margin-bottom-3 desktop:margin-bottom-7 {% endif %} tablet:margin-top-205 desktop:padding-y-5 desktop:padding-x-5">
    {% if data.text.subtitle %}

    <h3 class="margin-0 margin-bottom-2 font-family-serif text-normal">{{data.text.subtitle}}</h3>

    {% endif %}

    {% if data.role.title %}

    <h3 class="margin-0 font-family-serif text-normal">{{data.role.title}}</h3>

    {% endif %}

    {% if data.text.blurb %}
    <p class="margin-y-0 overflow-hidden">
      {{ data.text.blurb | markdownify | remove: "<p>" | remove: "</p>" }}
    </p>

    {% endif %}

    {% if data.role.blurb %}
    <p class="margin-bottom-0 overflow-hidden">
      {{ data.role.blurb | markdownify | remove: "<p>" | remove: "</p>" }}
    </p>
  {% endif%}

  {% if data.download.href %}
  <div class=" display-flex flex-align-center margin-top-105 desktop:margin-top-3 roles-downloads">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" aria-hidden="true"
      class="width-2 desktop:width-3 margin-right-05">
      <path d="M0 0h24v24H0z" fill="none" />
      <path
        d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z" />
    </svg>
    <a href="{{site.baseurl}}/{{ data.download.href}} " class="">{{ data.download.text}}
    </a>
  </div>
  {% endif %}

  </div>





  {% if data.cta %}
  <h3 class="font-family-serif">{{data.blurb.title}}</h3>
  {% endif %}

  {% if data.role-details %}
  <div class="bg-white header-text-hot-dog padding-y-3 display-flex flex-justify-end">
    <div class="radius-left-pill semi-cta bg-blue margin-left-4 padding-y-205">
      <div class="grid-container padding-x-4">
        <p>Interested in participating in a sprint?</p>
        <a href="{{ site.baseurl }}/{{ site.annual_reports.2019 }}" target="_blank"
          class="text-ink padding-y-1 margin-top-4">
          Email the TOP team.
        </a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endfor %}
