{% assign data = include.data %}

<section class="grid-container padding-y-7 padding-x-4 {% if data.text.title %}{{ data.text.title | slugify }}{% endif %} bg-blue header-text-hot-dog">
  {% for data in data %}

{% if data.text.title %}
<h2 class="margin-top-0 {% if data.text.title %}{{data.text.title | slugify}}{% endif %} text-white">{{data.text.title}}
</h2>
{% endif %}

<div class="text-wrapper padding-x-4 padding-top-4 padding-bottom-5 margin-y-4 bg-white">
  {% if data.text.subtitle %}

  <h3 class="margin-0">{{data.text.subtitle}}</h3>

  {% endif %}

  {% if data.role.title %}

  <h3 class="margin-0">{{data.role.title}}</h3>

  {% endif %}


  <p class="margin-bottom-0 overflow-hidden">
    {{ data.text.blurb | markdownify | remove: "<p>" | remove: "</p>" }}
  </p>

  <p class="margin-bottom-0 overflow-hidden">
    {{ data.role.blurb | markdownify | remove: "<p>" | remove: "</p>" }}
  </p>

{% if data.download.link %}
<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" aria-hidden="true"
  class="width-205 margin-right-05">
  <path d="M0 0h24v24H0z" fill="none" />
  <path
    d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z" />
</svg>
{{ data.download.link | markdownify | remove: "<p>" | remove: "</p>"}}
{% endif %}

</div>





{% if data.cta %}
<h3>{{data.blurb.title}}</h3>
{% endif %}

{% endfor %}
</section>