<section class="usa-hero padding-y-0 process-section" id="{{ page.short-name }}">
  <div class="grid-container padding-left-0 maxw-none">
    <div class="grid-row">
      <div class="sprint-hero-image" {% if include.content.img %}
        style="
          background-image:url({{ site.baseurl }}/assets/img/photos/sprints/{{ include.content.img }});
          background-size:cover;" {% endif %}>
      </div>
      <div class="grid-col-12 tablet:grid-col-9 tablet:grid-offset-1">
        <div class="content-container display-flex flex-column padding-y-5 padding-left-4 tablet:padding-left-2 padding-right-6 light-links">
          <h1 class="sprint-hero-header">
            {{ include.content.Name }}
          </h1>
          {% if include.content.Year %}
            <span class="order-first text-mono-3xs">
              <img src="{{ site.baseurl }}/assets/img/icons/yellow-star.svg" alt="A small, 5-pointed yellow star"/>
              {{ include.content.Year }}
            </span>
          {% endif %}
          {{ include.content.description | markdownify }}
          {% if include.isCurrent %}
            <div class="text-italic bg-base-lightest text-base-darkest padding-2 border-2px border-secondary">
              <p class="margin-y-0">
                <strong>We are seeking <a href="{{ site.baseurl }}/our-process/#tech-teams">tech teams</a> and 
                  <a href="{{ site.baseurl }}/our-process/#user-advocates">user advocates</a> to participate in this upcoming sprint.</strong>
                See detailed descriptions of the problem statements below, and if you are interested in participating, please
                <a href="{{ site.contacts.census-form }}">apply online</a>.
              </p>
              <p class="text-center margin-y-0">
                <a href="{{ site.contacts.census-form }}" 
                class="btn-link btn-link__primary-red btn-link--small">Join the sprint</a>
              </p>
            </div>
            
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
