<section class="bg-primary-dark margin-top-0">
  <section class="usa-section usa-graphic-list grid-container">
    <div class="maxw-mobile-lg desktop:margin-bottom-4">
      <h1
        class="hero--heading text-white"
      >
        {{ page.title }}
      </h1>
      <p class="font-sans-md text-white">{{ page.lead }}</p>
    </div>
    <ul class="usa-card-group">
      {% assign cards = page.cards %}
      {% for item in cards %}
        {% if item.link %}
          <li class="desktop:grid-col-4 tablet:grid-col-4 usa-card data-set-card" name="data-set-card">
            <a href="{{ site.baseurl }}/{{ item.link }}">
              <div class="usa-card__container data-card bg-primary-darker">
                <div class="usa-card__image">
                  <h2 class="usa-card__heading text-white font-sans-md margin-bottom-2">{{ item.title }}</h2>
                  <img src="{{site.baseurl}}/img/{{ item.image }}" alt="{{ item.image-alt }}">
                </div>
              </div>
            </a>
          </li>
        {% else %}
          <li class="desktop:grid-col-4 tablet:grid-col-4 usa-card" name="data-set-card">
            <div class="usa-card__container border-0 bg-primary-darker">
              <div class="usa-card__image">
                <h2 class="usa-card__heading text-white font-sans-md margin-bottom-2">{{ item.title }}</h2>
                <img src="{{site.baseurl}}/img/{{ item.image }}" alt="{{ item.image-alt }}">
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</section>
