<section class="bg-base-darkest">
<section class="usa-section usa-graphic-list grid-container" aria-label="Impact statistics">
  <h2 class="section-header text-white margin-top-0 margin-bottom-4">Our Impact</h2>
  <div class="grid-row grid-gap">
    {% for item in page.impact %}
    <div
      class="tablet:grid-col-4 usa-media-block margin-bottom-3"
    >
      <div class="usa-media-block__body {{item.border}}">
        {% if item.statistic %}
          <p class="font-sans-3xl margin-bottom-neg-2">{{ item.statistic }}</p>
          <img src="{{site.baseurl}}/assets/img/icons/thick_underline.svg" alt="" data-proofer-ignore class="margin-0">
        {% endif %}
        {% if item.description %}
          <p class="padding-right-4 margin-top-1">{{ item.description }}</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="grid-section bg-base-darkest">
    <div class="grid-row">
      <div class="grid-col-3 grid-offset-1">
        {% include image.html src='photos/home/2020-annual-report.jpg' alt='A cover of a pdf with the title The Opportunity Project 2020 Annual Report' %}
      </div>
      <div class="grid-col-6 grid-offset-1 text-white">
        Download our annual reports to read more about key TOP achievements from the past few years.
        <div class="text-center margin-top-4">
          <a href="{{ site.baseurl }}/{{ site.annual_reports.2020 }}" target="_blank" class="btn-link btn-link__primary btn-link__primary-red margin-left-4">
            2020 Annual Report (PDF)
          </a>
        </div>
        <div class="text-center margin-top-4">
          <a href="{{ site.baseurl }}/{{ site.annual_reports.2019 }}" target="_blank" class="btn-link btn-link__primary btn-link__primary-red margin-left-4">
            2019 Annual Report (PDF)
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="text-center margin-top-4">
    <a href="{{ site.baseurl }}/{{ site.annual_report }}" target="_blank" class="btn-link btn-link__primary btn-link__primary-red margin-left-4">
      View 2020 Annual Report (PDF)
    </a>
  </div> -->

</section>
</section>
