<section class="bg-primary-dark usa-section usa-graphic-list grid-container 
  margin-bottom-0 padding-bottom-0">
  <div class="display-flex flex-column flex-align-center">
    <form id="data-search-form" class="usa-search usa-search--small desktop:width-tablet" role="search">
      <label class="usa-sr-only" for="search-field">Search datasets by key words</label>
      <input class="usa-input" id="search-field" type="search" name="search" placeholder="Search datsets by key words">
      <button class="btn-link__primary-dark" type="submit">
        <span class="usa-sr-only">Search</span>
      </button>
    </form>
  </div>
  {% if page.dataset == "earth-sprint" %}
    {% assign data-topics = site.data.natural-environment-topics %}
  {% elsif page.dataset == "built-sprint" %}
    {% assign data-topics = site.data.built-environment-topics %}
  {% elsif page.dataset == "covid" %}
    {% assign data-topics = site.data.covid-topics %}
  {% else %}
    {% assign data-topics = site.data.workforce-topics %}
  {% endif %}
    <div class="grid-row grid-gap">
      <ul class="usa-card-group data-card-group margin-top-7">
        {% for data in data-topics %}
          <li id="{{ data.filter }}" class="usa-card" name="productCard">
            <div class="usa-card__container dkh__data-topic {% if forloop.first %}selected{% endif %}">
              <header class="usa-card__header">
                <p class="text-white font-sans-sm" value="{{ data.name | slugify}}">{{ data.name }}</p>
              </header>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="grid-row grid-gap">
      {% for data in data-topics %}
        {% if data.description %}
          <div id="modal-{{ data.filter }}" class="data-modal modal-inactive">
            <div class="grid-row">
              <div class="desktop:grid-col-8 tablet:grid-col-8">
                <div class="display-inline-block desktop:grid-col-4 tablet:grid-col-4">
                  <img
                    src="{{ site.baseurl }}/assets/img/challenges/{{data.image}}"
                    alt="{{data.image-alt}}"
                  />
                </div>
                <div class="display-inline-block float-right desktop:grid-col-8 tablet:grid-col-8 padding-bottom-5 padding-left-5">
                  {% if data.title %}
                    <p class="font-sans-md text-white">{{ data.title }}</p>
                  {% endif %}
                  {% if data.description %}
                    <p class="font-mono-xs text-accent-warm">CHALLENGE</p>
                    <p class="font-sans-2xs text-white">{{ data.description}}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  <hr class="margin-top-3 margin-bottom-0 border-accent-warm">
  
</section>
<section class="bg-primary-dark margin-top-0">
  <section class="usa-section usa-graphic-list grid-container">
    <ul class="usa-card-group">
      {% if page.dataset == "earth-sprint" %}
        {% assign display-dataset = site.data.earth-sprint %}
      {% elsif page.dataset == "built-sprint" %}
        {% assign display-dataset = site.data.built-sprint %}
      {% elsif page.dataset == "covid" %}
        {% assign display-dataset = site.data.covid %}
      {% else %}
        {% assign display-dataset = site.data.workforce %}
      {% endif %}
        {% for item in display-dataset %}
          <li id="data-set-card-{{item.name | slugify}}" class="desktop:grid-col-4 tablet:grid-col-4 usa-card__dataset margin-bottom-2 data-set-card" name="data-set-card">
            <div class="usa-card__container datasets__card bg-primary-darker">
              {% if item.link %}
                <a href="{{ item.link }}" target="_blank" class="data-card-link" aria-label="{{ item.name }}">
                  <img class="external-link" src="{{site.baseurl}}/assets/img/icons/yellow-external-link.png" alt="External link"/>
                  <header class="usa-card__header">
                    <h2 class="usa-card__heading text-white font-sans-md" value="{{data.name | slugify}}">{{ item.name }}</h2>
                    <h3 class="pc-inactive">{{ item.problem-statement }}</h3>
                    <p class="font-mono-xs text-white">by {{ item.agency | upcase }}</p>
                  </header>
                  <div class="usa-card__body padding-bottom-9">
                    <p class="font-sans-xs text-white">{{ item.description}}</p>
                  </div>
                  <div class="usa-card__footer position-absolute bottom-0 right-0">
                    {% if item.email %}
                      <div class="usa-card__container email bg-white width-15 contact-card float-right padding-right-neg-3">
                        <div class="usa-card__body padding-0 display-flex flex-column flex-align-center">
                          <a href="mailto:{{ item.email }}?subject=Regarding The Opportunity Project Dataset: {{item.name}}" class="font-sans-xs text-decoration-none text-black padding-05">Contact
                            <img src="{{ site.baseurl }}/assets/img/icons/email.svg" class="padding-left-05" alt="email">
                          </a>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </a>
              {% else %}
                <header class="usa-card__header">
                  <h2 class="usa-card__heading text-white font-sans-md" value="{{data.name | slugify}}">{{ item.name }}</h2>
                  <h3 class="pc-inactive">{{ item.problem-statement }}</h3>
                  <p class="font-mono-xs text-white">by {{ item.agency | upcase }}</p>
                </header>
                <div class="usa-card__body padding-bottom-9">
                  <p class="font-sans-xs text-white">{{ item.description}}</p>
                  <p>There are mutiple links associated with this data set. Please refer to the list below: </p>
                  {% for link in item.listed-link %}
                    <a class="font-sans-xs text-white listed-link" href="{{ link.href }}">{{ link.text }}<img src="{{ site.baseurl }}/assets/img/icons/external-link-white-sm.png" class="padding-left-05" alt="external link icon"></a><br>
                  {% endfor %}
                </div>
                <div class="usa-card__footer position-absolute bottom-0 right-0">
                  {% if item.email %}
                    <div class="usa-card__container email bg-white width-15 contact-card float-right padding-right-neg-3">
                      <div class="usa-card__body padding-0 display-flex flex-column flex-align-center">
                        <a href="mailto:{{ item.email }}?subject=Regarding The Opportunity Project Dataset: {{item.name}}" class="font-sans-xs text-decoration-none text-black padding-05">Contact
                          <img src="{{ site.baseurl }}/assets/img/icons/email.svg" class="padding-left-05" alt="email">
                        </a>
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </li>
        {% endfor %}
    </ul>
    {% if page.dataset == "covid" %}
      <h3 class="font-sans-m text-white">Below are additional points of contacts for Census data in the following topics:</h3>
      {% for expert-group in site.data.covid-census-experts %}
        <p class="font-mono-xs text-accent-warm">{{ expert-group.name }}</p>
        <a href="mailto:{{ expert-group.email }}?subject=Regarding The ASA Challenge" class="font-sans-2xs text-decoration-none text-white">{{ expert-group.poc }}<img src="{{ site.baseurl }}/assets/img/icons/email-white.png" class="padding-left-1" alt="email"></a>
      {% endfor %}
    {% endif %}
  </section>
</section>