<section class="bg-base-darkest">
  <section class="usa-section usa-graphic-list grid-container">
    {% for item in page.progress-bar %}
      <div class="grid-row grid-gap" >
        <div
          class="grid-col-4 usa-media-block__body usa-media-block__inline-items border-base-darker border-right margin-right-neg-05"
        ></div>
        <div
          class="desktop:grid-col-6 tablet:grid-col-6 usa-media-block__body usa-media-block__inline-items margin-top-0 margin-left-neg-3"
        >
          <div class="inline-number">
            {% if item.number %}
              <p class="circle-3  margin-top-0">{{ item.number }}</p>
            {% endif %}
          </div>
          <div class="inline-text">
            {% if item.title %}
              <h4 class="font-sans-lg margin-top-2 margin-bottom-0">{{ item.title }}</h4>
            {% endif %}
            {% if item.description %}
              <p class="margin-top-1">{{ item.description }}</p>
            {% endif %}
            {% if item.accordions %}
              {% for accordion in item.accordions %}
                <div class="usa-accordion usa-accordion--bordered bg-base-darker text-white margin-bottom-2 ">
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button light bg-base-darker text-white"
                      aria-expanded="false"
                      aria-controls="{{ accordion.aria }}">
                      {{ accordion.title }}
                    </button>
                  </h4>
                  <div id="{{ accordion.aria }}" class="usa-accordion usa-accordion--bordered margin-top-0  bg-base-darkest border-solid border-base-darker">
                    {% if accordion.steps %}
                      <ol>
                        {% for step in accordion.steps %}
                          <li class="text-white padding-2">{{ step }}</li>
                        {% endfor %}
                      </ol>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
</section>
