<div id="toolkit-{{item.section | slugify }}" class="toolkit-header-refresh usa-media-block__body">
  <h2 class="bg-base-darkest text-center padding-x-3">{{item.section}}: {{item.header}}</h2>

  <div class="grid-row">
    <h3 class=" padding-1 desktop:margin-bottom-5 desktop:margin-right-3 bg-red-warm-50v text-center">
      Total Duration: {{ item.duration }} weeks
    </h3>
    <h3 class=" padding-1 desktop:margin-bottom-5 desktop:margin-right-3 bg-red-warm-50v text-center">
      Time: {{ item.time }} hours/week
    </h3>
  </div>

  <p class="margin-left-0 text-base-darkest">{{item.overview}}</p>

</div>
