  <section>
    <div class="grid-col-12">
    <!-- hero -->
    <section class="topx-hero">
      <!-- <img src="{{site.baseurl}}/assets/img/toolkits/hero-image.png" alt="People at in-person TOPx Meeting"> -->
      <section class="content-container">
        <h1 class="visually-hidden">Use the TOPx Toolkit to solve thing 1</h1>
        <section class="scrolling-words-container">
          <span>Use the TOPx Toolkit to solve</span>
          <div class="scrolling-words-box">
            <ul>
              <li>thing 1</li>
              <li>thing 2</li>
              <li>thing 3</li>
              <li>refrigerator</li>
              <li>sriracha</li>
              <li>microchip</li>
              <li>thing 1</li>
            </ul>
          </div>
        </section>
        <p>StatVentures scouts technology through collaborations with innovators outside government to ensure the U.S.Census Bureau provides quality data more efficiently, creatively, and effectively.</p>
      </section>
    </section>
    <!-- video section -->
    <section class="video-section">
      <h2>What is TOP?</h2>
      <div class="iframe-content">
        <iframe title="Video about The Opportunity Project: Putting America’s Data to Work for the People" src="https://player.vimeo.com/video/497726351?h=0496f5a6b3&title=0&byline=0&portrait=0" width="640" height="360" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ea doloribus minima, id nobis voluptatem est, consequatur quia repellendus voluptatibus dolores perspiciatis? Sed ut vel ab hic voluptatem, est dolorem.</p>
      </div>
    </section>
    <!-- CTA from TOP site -->
    {% assign section = page.cta-one %}
    {% include home/cta.html data=section %}
    <!-- Timeline section -->
    <!-- repurpose TOP CTA into mail us section -->
    {% assign section = page.cta-two %}
    {% include home/cta.html data=section %}
    <!-- Products section -->
    <section class="usa-section usa-graphic-list products">

      <div class="grid-container">
        {% assign featured_products = site.data.toolkits.topx.featured_products %}
        <header class="padding-x-6 padding-y-7 bg-orange-5 margin-y-7">
          <h3>Lorem ipsum dolor sit</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo tempora aperiam illo fugiat modi alias quos nihil atque reprehenderit nobis fugit enim praesentium, blanditiis temporibus eaque deleniti vero officia doloribus?</p>
        </header>
        <div class="grid-row grid-gap-lg
        flex-wrap flex-justify-center">
          {% for product in featured_products %}
          <div class="tablet:grid-col-4 usa-media-block__background-image-portrait margin-bottom-3">
            {% include cards/card.html content=product utils="small-header-card" %}
          </div>
          {% endfor %}
        </div>
      </div>
          {% assign section = page.cta-three %}
          {% include home/cta.html data=section %}
    </section>
    <!-- CTA -->
    {% assign section = page.cta-four %}
    {% include home/cta.html data=section %}

    </div>
  </section>
