<a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% include gov-banner.html %}
<div class="usa-overlay"></div>
<header class="usa-header--basic site-header site-header-dark border-base-darker desktop:padding-top-0 padding-top-3 height-card">
  <div class="nav-container">
    <div class="usa-navbar site-header-navbar">
      <div class="usa-logo width-auto margin-x-2" id="logo">
        <a class="display-none desktop:display-inline text-base-light margin-bottom-2 margin-left-neg-2" style="font-size:11px;"
          href="{{ site.baseurl }}/" title="Home" aria-label="{{ site.title }} main page"><img
            src="{{site.baseurl}}/assets/img/icons/left-arrow.png" alt="Back arrow">
          MAIN SITE
        </a>
        <div class="">
          {% if page.type == "topx" %}
          <h1 class="text-white margin-0 margin-top-2">TOP<span class="text-accent-warm">x</span> Toolkit</h1>
          {% else %}
          <h2 class="text-white margin-0 margin-top-2">Product Toolkit</h2>
          {% endif %}
          <p class="text-base-light margin-top-1" style="font-size:11px;">A product of The Opportunity Project</p>
        </div>
      </div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    {% if page.type == "topx" %}
    {% assign links = site.data.nav.toolkit.topx %}
    <nav aria-label="Primary navigation" class="usa-nav grid-container">
      <button type="button" class="usa-nav__close">
        <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-list--unstyled">
        {% for link in links %}
        {% assign active = "" %}
        {% assign slug = link.text | slugify %}
        {% if page.url contains slug %}
        {% assign active = "text-underline" %}
        {% endif %}
        <li class="usa-nav__primary-item bg-base-darkest">
          <a href="{{ site.baseurl }}/{{ link.href }}" class="usa-nav-link text-ls-2 font-sans-3xs text-light text-white {{active}}"><span>{{ link.text | upcase }}</span></a>
        </li>
        {% endfor %}
        <li class="usa-nav__primary-item bg-orange-5">
          {% if page.type == "topx" %}
          <a href="{{site.baseurl}}/{{site.data.nav.toolkit.download-pdf-link}}" target="_blank" class="usa-nav-link"><span>DOWNLOAD ALL RESOURCES</span></a>
          {% endif %}
        </li>
      </ul>
    </nav>
    {% endif %}
  </div>
</header>