  <section class="grid-container display-inline-block padding-top-8">
    <div
      class="desktop:grid-offset-4 desktop:grid-col-7 grid-col-12  display-inline-block desktop:padding-left-6"
    >
    <h1>Introduction</h1>
    <p>
      <a href="https://opportunity.census.gov" target="_blank">The Opportunity Project</a> brings technologists, government, and communities to rapidly prototype digital products—powered by federal open data—that solve real-world problems for communities across the country. TOPx is an adaptable toolkit for federal agencies, developed by the TOP team at the U.S. Census Bureau, that enables other federal agencies to facilitate virtual technology development sprints that address key national challenges. To learn about TOP, check out the <a href="{{site.baseurl}}/our-process">Process</a> page on the TOP website.
    </p>
    {% for section in site.data.toolkits.topx.intro.body %}
      {% if section.title %}
        <h2 class="font-sans-6">{{ section.title }}</h2>
      {% endif %}
      <div class="inline-text">
        <p>
        {% for phrase in section.text %}
          {% if phrase.b %}
            <b>{{ phrase.b }}</b>
          {% elsif phrase.p %}
            {{ phrase.p }}
          {% elsif phrase.ul %}
            <ul class="toolkit-checkmark">
              {% for li in phrase.ul %}
                {% if li.li %}
                  <li>{{ li.li }}</li>
                {% elsif li.p %}
                  <li class="nested-bullet">{{ li.p}}</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
        </p>
      </div>

      <div class="grid-container">
        {% assign case_studies = site.data.case_studies %}
        <div class="grid-row grid-gap-lg
        flex-wrap flex-justify-center">
          {% for case in case_studies %}
          <div class="tablet:grid-col-4
              usa-media-block__background-image-portrait
              margin-bottom-3">
            {% include cards/card.html content=case utils="small-header-card" %}
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- CTA -->
    {% assign section = page.cta-three %}
    {% include home/cta.html data=section %}

    </div>
  </section>
