<div class="toolkit-resources margin-top-9 margin-bottom-9  padding-7">
  <h3 class="margin-top-0">Resources</h3>
  {% for resource in item.resources %}
    {% if resource.download-link %}
      <a href="{{site.baseurl}}/assets/files/{{resource.download-link}}" class="toolkit-resource-link" target="_blank"> {{ resource.title }}</a>
    {% elsif resource.internal-link %}
      <a href="{{ site.baseurl }}/{{resource.internal-link}}" class="toolkit-resource-link" target="_blank"> {{ resource.title }}</a>
    {% else %}
      <a href="{{ resource.link }}" class="toolkit-resource-link" target="_blank"> {{ resource.title }}</a>
    {% endif %}
    <p class="text-base-light text-italic">{{ resource.description}}</p>
  {% endfor %}
</div>
