  <section>
    <div class="grid-col-12">
    <!-- hero -->
    <section class="topx-hero grid-row">
      <!-- <img src="{{site.baseurl}}/assets/img/toolkits/hero-image.png" alt="People at in-person TOPx Meeting"> -->
      <section class="content-container grid-container grid-row">
        <h1 class="visually-hidden">Use the TOPx Toolkit to solve thing 1</h1>
        <section class="scrolling-words-container grid-container margin-bottom-6">
          <span>Use the TOPx Toolkit to:</span>
          <div class="scrolling-words-box">
            <ul>
              <li>build climate resilience</li>
              <li>increase access to grant funding</li>
              <li>improve education systems</li>
              <li>connect veterans with jobs</li>
              <li>solve the nation's toughest challenges</li>
              <li>build climate resilience</li>
            </ul>
          </div>
        </section>
        <p class="margin-top-3">The TOPx Toolkit enables federal agencies to catalyze projects that transform open data into solutions to key national
        challenges at the heart of their missions.</p>
      </section>
    </section>
    <!-- video section -->
    <section class="video-section padding-9">
      <h2 class="text-blue-warm-60v">Why Should I Use the TOPx Toolkit at My Agency?</h2>
      <div class="iframe-content">
        <iframe title="Video about The Opportunity Project: Putting America’s Data to Work for the People" src="https://player.vimeo.com/video/497726351?h=0496f5a6b3&title=0&byline=0&portrait=0" width="640" height="360" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ea doloribus minima, id nobis voluptatem est, consequatur quia repellendus voluptatibus dolores perspiciatis? Sed ut vel ab hic voluptatem, est dolorem.</p>
      </div>
    </section>
    <!-- CTA from TOP site -->
    {% assign section = page.cta-one %}
    {% include home/cta.html data=section %}
    <!-- Timeline section -->
    <section class="timeline bg-base-darkest padding-y-9">
      <div class="grid-container content-container">
        <h2 class="margin-0 bg-orange-5 margin-bottom-4">What is the TOPx Toolkit?</h2>
        <p class="margin-0 text-white maxw-tablet margin-bottom-4">Census Open Innovation Labs created this Toolkit so that anyone can use The Opportunity Project (TOP) method to solve
        problems. This Toolkit provides you with the necessary information to execute a 12-week product development cycle –
        called a ‘TOP sprint’ – to rapidly develop digital solutions alongside technologists and community advocates.</p>
        <img src="{{site.baseurl}}/assets/img/toolkits/sprint-timeline.png" alt="People at in-person TOPx Meeting">
      </div>
    </section>
    <!-- repurpose TOP CTA into mail us section -->
    {% assign section = page.cta-two %}
    {% include home/cta.html data=section %}
    <!-- Products section -->
    <section class="usa-section usa-graphic-list products">

      <div class="grid-container">
        {% assign featured_products = site.data.toolkits.topx.featured_products %}
        <header class="padding-x-6 padding-y-7 bg-orange-5 margin-y-7">
          <h3>What Does a Successful TOP Sprint Look Like</h3>
          <p>The Department of Housing and Urban Development and White House Council of Economic Advisors led a TOP sprint to
          increase financial investment in America’s  8,764 Opportunity Zones. <span>This led to six standout solutions including:</span></p>
        </header>
        <div class="grid-row grid-gap-lg
        flex-wrap flex-justify-center">
          {% for product in featured_products %}
          <div class="tablet:grid-col-4 usa-media-block__background-image-portrait margin-bottom-3">
            {% include cards/card.html content=product utils="small-header-card" %}
          </div>
          {% endfor %}
        </div>
      </div>
          {% assign section = page.cta-three %}
          {% include home/cta.html data=section %}
    </section>
    <!-- CTA -->
    {% assign section = page.cta-four %}
    {% include home/cta.html data=section %}

    </div>
  </section>
