<h2>Key Actions</h2>
{% for action in item.key_actions %}
  <div
    class="usa-media-block__inline-items"
  >
    <div class="inline-number">
      {% if action.number %}
        <p class="circle-3">{{ action.number }}</p>
      {% endif %}
    </div>
    {% if action.text %}
      <div class="inline-text">
        <p>
        {% for phrase in action.text %}
          {% if phrase.b %}
            <b>{{ phrase.b }}</b>
          {% elsif phrase.p %}
            {{ phrase.p }}
          {% endif %}
        {% endfor %}
        </p>
      </div>
    {% endif %}
  </div>
  {% if action.highlight %}
    <div class="toolkit-highlight">
      <p class="margin-top-0">
      {% for phrase in action.highlight %}
        {% if phrase.p %}
          {{ phrase.p }}
        {% endif %}
      {% endfor %}
      </p>
    </div>
  {% endif %}
{% endfor %}
