<h2 class="text-underline">TO DO:</h2>

{% for action in item.to_do %}
<div class="usa-media-block__inline-items">
  <!-- number -->
  <div class="inline-number">
    <p class="border-{{page.refresh-accent}} {{page.refresh-white}} text-center">{{ forloop.index }}</p>
  </div>
  <!-- number -->
  <!-- step overview -->
  <div class="margin-left-3 toolkit-todo">
    <p>
      {% for phrase in action.overview %}
      {% if phrase.copy %}
      {{ phrase.copy }}
      {% endif %}
      {% if phrase.ul %}
    <ul class="toolkit-checkmark">
      {% for li in phrase.ul %}
      <li>{{ li.li }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
    </p>
    <!-- step overview -->

    {% for tip in action.toggle %}
    <!-- tip container -->
    <div class="margin-left-4">
      <details>
        <summary class="text-red-warm-50v">Tip</summary>
        <div id="{{action.toggle.id}}" class="margin-left-2 margin-top-1">
          <p>
            {% for phrase in action.toggle %}
            {% if phrase.copy %}
            {{ phrase.copy }}
            {% endif %}
            {% if phrase.ul %}
          <ul>
            {% for li in phrase.ul %}
            <li>{{ li.li }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endfor %}
          </p>
        </div>
      </details>
    </div>
    <!-- tip container -->
    {% endfor %}

    <!-- resource -->
    <div class="toolkit-todo__resources grid-row tablet:flex-row flex-wrap text-center">
      {% for resource in action.resources %} {% if resource.download-link %}
      <a href="{{site.baseurl}}/assets/files/{{resource.download-link}}"
        class="toolkit-resource-link bg-orange-5 text-base-darkest padding-y-0 padding-x-2 margin-x-2 margin-y-1"
        target="_blank">
        {{ resource.title }}
      </a>
      {% elsif resource.internal-link %}
      <a href="{{ site.baseurl }}/{{resource.internal-link}}"
        class="toolkit-resource-link text-base-darkest bg-orange-5 padding-y-0 padding-x-2 margin-x-2 margin-y-1"
        target="_blank">
        {{ resource.title }}
      </a>
      {% elsif resource.dummy %}
      <p class="toolkit-resource-link  bg-orange-5 text-base-darkest">{{ resource.title }}</p>
      <!--<h3>{{ resource.title }}</h3>-->
      {% else %}
      <a href="{{ resource.link }}"
        class="toolkit-resource-link text-base-darkest padding-y-0 padding-x-2 margin-x-2 margin-y-1" target="_blank">
        {{ resource.title }}
      </a>
      {% endif %}
      {% endfor %}
    </div>
    <!-- resource -->

  </div>
</div>
{% endfor %}