<aside class="sidenav">
  <nav aria-label="Secondary navigation">
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item">
    <a href="" class="usa-current font-sans-3xs">STEP 1</a><ul class="usa-sidenav__sublist">
      <li class="usa-sidenav__item usa-current">
    <a href="" class="font-sans-3xs">FORM A FACILITATION TEAM</a>
  </li><li class="usa-sidenav__item">
    <a href="" class="font-sans-3xs">KEY ACTIONS</a>
  </li><li class="usa-sidenav__item">
    <a href="" class="font-sans-3xs">RESOURCES</a>
  </li>
    </ul>
  </li><li class="usa-sidenav__item">
    <a href="" class="font-sans-3xs">STEP 2</a>
  </li><li class="usa-sidenav__item">
    <a href="" class="font-sans-3xs">STEP 3</a>
  </li><li class="usa-sidenav__item">
    <a href="" class="font-sans-3xs">STEP 4</a>
  </li>
  </ul>
</nav>
</aside>
