<aside class="sidenav margin-left-5 position-sticky">
  <nav aria-label="Secondary navigation">
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item">
    <a href="">Parent link</a>
  </li><li class="usa-sidenav__item">
    <a href="" class="usa-current">Current page</a><ul class="usa-sidenav__sublist">
      <li class="usa-sidenav__item">
    <a href="">Child link</a>
  </li><li class="usa-sidenav__item">
    <a href="">Child link</a>
  </li><li class="usa-sidenav__item">
    <a href="">Child link</a>
  </li><li class="usa-sidenav__item">
    <a href="">Child link</a>
  </li><li class="usa-sidenav__item">
    <a href="" class="usa-current">Child link</a>
  </li>
    </ul>
  </li><li class="usa-sidenav__item">
    <a href="">Parent link</a>
  </li>
  </ul>
</nav>
</aside>
