<h2>Key Actions</h2>
{% for action in item.key_actions %}
  <div
    class="usa-media-block__inline-items"
  >
    <div class="inline-number">
      {% if action.number %}
        <p class="circle-3">{{ action.number }}</p>
      {% endif %}
    </div>
    <div class="inline-text">
      <p>
      {% if action.text %}
        {% for phrase in action.text %}
          {% if phrase.b %}
            <b>{{ phrase.b }}</b>
          {% elsif phrase.p %}
            {{ phrase.p }}
          {% endif %}
        {% endfor %}
      {% endif %}
      </p>
    </div>
  </div>
{% endfor %}
