<section>
  {% for item in site.data.toolkits.topx.phase-3.body %}
    <section class="grid-container display-inline-block padding-top-8">
      {% include toolkit-sidenav.html %}
      <div
        class="desktop:grid-offset-2 desktop:grid-col-7 tablet:grid-col-6 display-inline-block"
      >
        {% include toolkit-header.html %}
        {% include toolkit-key-actions.html %}
        {% include toolkit-resources.html %}
      </div>
    </section>
    <div class="height-4 bg-secondary">
    </div>
  {% endfor %}
</section>
