<div id="toolkit-{{item.section | slugify }}" class="bg-base-darkest usa-media-block__body desktop:margin-left-neg-3 padding-4 padding-right-8 padding-top-0 padding-bottom-0">
  <h1>{{item.section}}:<br>{{item.header}}</h1>
  <div class="display-inline-block">
    {% if item.time %}
      <p class="display-inline-block">Time: {{item.time}}</p>
      <p class="display-inline-block margin-left-4">Effort:</p>
      {% for i in (1..item.effort-out-of-4) %}
        <p class="bg-accent-warm circle-2 display-inline-block margin-0 margin-bottom-neg-2px"></p>
      {% endfor %}
      {% for i in (1..item.empty) %}
        <p class="bg-white circle-2 display-inline-block margin-0  margin-bottom-neg-2px"></p>
      {% endfor %}
    {% endif %}
  </div>
  <p>{{item.plain-text}}</p>
  {% if item.ul %}
    <ul>
      {% for li in item.ul %}
        {% if li.li %}
          <li>{{ li.li }}</li>
        {% elsif li.p %}
          <p class="margin-left-neg-3 padding-left-neg-3">{{ li.p}}</p>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  <p class="toolkit-highlight margin-left-0">{{item.highlight}}</p>
  <img src="{{site.baseurl}}/assets/img/{{item.illustration}}" alt="{{item.image-alt}}">
</div>
