<section class="usa-section usa-graphic-list grid-container">
  <div class="grid-row grid-gap">
    {% for item in page.explanation.text %}
      <div
        class="desktop:grid-col-6 usa-media-block__inline-items desktop:margin-bottom-0"
      >
        <div class="inline-text">
          {% if item.title %}
            <h4>{{ item.title }}</h4>
          {% endif %}
          {% if item.description %}
            <p>{{ item.description }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="display-flex flex-column flex-align-center desktop:margin-top-6 desktop:margin-bottom-6">
    <div class="grid-row desktop:grid-col-6 margin-bottom-4">
      <p>{{ page.explanation.icon-description }}</p>
    </div>
    <ul class="usa-card-group grid-gap desktop:grid-offset-1">
      {% for item in page.explanation.icons %}
        <li class="desktop:grid-col-2 usa-card margin-1">
          <div class="usa-card__container border-0 radius-0">
            <div class="usa-card__body">
              {% assign slugged = item.title | slugify %}
              {% assign imgSrc = "icons/" | append: slugged | append: ".png" %}
              {% include image.html src=imgSrc alt=item.alt %}
            </div>
            <div class="usa-card__footer">
              {% if item.title %}
                <p class="font-semi-bold">{{ item.title }}</p>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
