{% assign left-col-width = 6 %}
{% assign right-col-width = 6 %}
{% if include.content.left-col-width %}
  {% assign left-col-width = include.content.left-col-width %}
  {% assign left-int = include.content.left-col-width | to_integer %}
  {% assign right-col-width = 12 | minus: left-int %}
  {% if include.content.right-col-width %}
    {% assign right-col-width = include.content.right-col-width %}
  {% endif %}
{% endif %}

<section class="grid-section">
  {% if include.content.title %}
    <h{{ include.content.heading-level | default: 2 }}
      class="section-header">
      {{ include.content.title }}
    </h{{ include.content.heading-level | default: 2 }}>
  {% endif %}
  <div class="grid-row grid-gap{% if include.content.grid-gap-lg %}-lg{% endif %} padding-y-2
    {% unless include.content.skip-top-border %}border-top{% endunless %}
    {% unless include.content.skip-bottom-border %}border-bottom{% endunless %}
    border-base-light">
    
    <div class="markdownify-column tablet:grid-col-{{ left-col-width }}
      {% if include.content.left-col-offset %}grid-offset-{{ include.content.left-col-offset }}{% endif %}">
      {% if include.content.left %}
        {% for section in include.content.left %}
          {% if section.title %}
            {% if include.content.title %}
              <h3>{{ section.title | markdownify }}</h3>
            {% else %}
              <h2 class="font-sans-4">{{ section.title | markdownify }}</h2>
            {% endif %}
          {% endif %}
          {% if section.body %}
            {{ section.body | markdownify }}
          {% endif %}
        {% endfor %}
      {% elsif include.content.left-col %}
        {% capture left %}
          {% include_relative {{ include.content.left-col }} %}
        {% endcapture %}
        {{ left | markdownify }}
      {% else %}
        {{ include.left-col | markdownify }}
      {% endif %}
    </div>

    <div class="markdownify-column tablet:grid-col-{{ right-col-width }}
    {% if include.content.right-col-offset %}grid-offset-{{ include.content.right-col-offset }}{% endif %}">
      {% if include.content.right %}
        {% for section in include.content.right %}
          {% if section.title %}
            <h3>{{ section.title | markdownify }}</h3>
          {% endif %}
          {% if section.body.size > 0 %}
            {{ section.body | markdownify }}
          {% endif %}
        {% endfor %}
      {% elsif include.content.right-col %}
        {% capture right %}
          {% include_relative {{include.content.right-col}} %}
        {% endcapture %}
        {{ right | markdownify }}
      {% else %}
        {{ include.right-col | markdownify }}  
      {% endif %}
    </div>

  </div>
</section>