<section class="usa-section usa-graphic-list grid-container">
  <div class="grid-row grid-gap">
    <div class="desktop:grid-offset-2 desktop:grid-col-7 padding-2">
      <h2>{{ page.card-explanation.title}}</h2>
      <p>{{ page.card-explanation.description}}</p>
    </div>
  </div>
  <div class="grid-row grid-gap">
    <div class="desktop:grid-offset-2">
      <ul class="usa-card-group">
        {% for item in page.card-explanation.cards %}
          <li class="desktop:grid-col-5 tablet:grid-col-5 usa-card" name="role-card">
            <div class="usa-card__container bg-primary-lightest border-0 radius-0">
              <header class="usa-card__header">
                {% if item.title %}
                  <h3 class="font-sans-5">{{ item.title }}</h3>
                {% endif %}
              </header>
              <div class="usa-card__body">
                {% if item.description %}
                  <p>{{ item.description }}</p>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
