<a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% include gov-banner.html class="margin-left-0"%}
<header class="coil-header">
  <div class="coil-navbar font-family-mono font-family-3xs">
    <a href="{{ site.baseurl }}/">
      &larr;&nbsp;<span class="large-only">The Opportunity Project</span><span class="small-only">Back</span>
    </a>
    <div id="logo">
      <div>
        <a class="text-white margin-0 font-sans-lg large-only text-no-underline"
          href="{{ site.baseurl }}">
          <b>CENSUS OPEN</b> INNOVATION LABS
        </a>
        <a class="text-white margin-0 font-sans-lg small-only text-no-underline"
        href="{{ site.baseurl }}">
          <b>COIL</b>
        </a>
      </div>
    </div>

    <a class="coil-btn__secondary-white margin-top-0" href="{{ page.typeform }}" target="_blank">
      Contact&nbsp;Us
    </a>
  </div>
</header>