<div class="grid-container">
  <div class="grid-row">
    <div class="mobile-lg:grid-col-3">
      <p>We’ll help you</p>
    </div>
    <div class="mobile-lg:grid-col-6">
      <ul class="coil-help-list">
        <li>
          Build a digital product.
        </li>
        <li>
          Run a prize challenge.
        </li>
        <li>
          Learn how to build programs that can scale.
        </li>
        <li>
          Advance a culture of innovation.
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="margin-top-2">
  <a class="coil-btn__primary-white" target="_blank" href="{{ page.typeform }}">
    Contact Us&nbsp;&rarr;
  </a>
</div>