{% if include.data.title %}
<div class="dashed-container coil-section-exempt">
  <div></div>
  <h3 class="dashed margin-y-8" id="{{ include.data.title | slugify }}">{{ include.data.title }}</h3>
  <div></div>
</div>
{% endif %}
<div class="grid-container margin-bottom-4">
  <div class="grid-row grid-gap">
    {% for project in include.data.projects %}
      {% if include.data.isMain %}
        {% include coil/coil-project-large.html data=project %}
      {% else %}
        {% include coil/coil-project-small.html data=project %}
      {% endif %}
    {% endfor %}
  </div>
</div>