<a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% include banner.html %}
<header class="coil-header">
  <div class="coil-navbar">
    <a href="{{ site.baseurl }}">
      &larr;&nbsp;The Opportunity Project
    </a>

    <div class="" id="logo">
      <div class="">
        <p class="text-white margin-0 font-sans-lg">
          <b>CENSUS OPEN</b> INNOVATION LABS</p>
      </div>
    </div>

    <a class="usa-button__secondary-white margin-top-0" href="#">
      Contact Us
    </a>
  </div>
</header>