{% assign data = include.data %}
{% assign hasTags = include.data.tags %}
<div class="coil-card-container">
  <div class="coil-project-card{% if hasTags %}__with-tags{% endif %}">
    <h3>
      {% if data.href %}
        <a href="{% unless data.isExternal %}{{ site.baseurl }}{% endunless %}{{ data.href }}" {% if data.isDownload %}download{% endif %}>
      {% endif %}
      {{ data.title }}{% if data.href %}{% if data.isDownload %} (PDF)&nbsp;&darr;{% else %}&nbsp;&rarr;{% endif %}
        </a>
      {% endif %}
    </h3>
    {% if hasTags %}
      {% include coil/project-tags.html data=include.data.tags %}
    {% endif %}
    <p class="coil-project__body">{{ data.details }}</p>
    {% for link in include.data.links %}
      <p><a href="{% unless link.isExternal %}{{site.baseurl}}{% endunless %}{{link.href}}">{{ link.text }}&nbsp;&rarr;</a></p>
    {% endfor %}
  </div>
</div>