---
layout: default
---

<div class="default-container">
  <div class="grid-row">
    <div class="grid-col-6">
      <img src="{{site.baseurl}}/img/products/test.webp" alt="screenshot of product webpage">
    </div>
    <div class="grid-col-6">
      <div class="maxw-mobile-lg margin-9">
        <h1
          class="hero--heading font-sans-3xl"
        >
          {{ page.product }}
        </h1>
        <p class="font-ui-lg">by {{ page.tech_team}}</p>
        <p class="font-ui-xl">{{ page.lead}}</p>
        <button type="button" class="usa-button" href={{page.sidebar.button.link}}>Go to {{ page.product }}</button>
      </div>
    </div>
  </div>

  <aside class="sidenav">
    {% assign sidebar = page.sidebar %}
    <ul class="usa-sidenav">
      {% if sidebar.cohort %}
        <li>
          <b>Cohort:</b>
          <p>{{ sidebar.cohort }}</p>
        </li>
      {% endif %}
      {% if sidebar.problem_statement %}
        <li>
          <b>Problem Statement:</b>
          <p>{{ sidebar.problem_statement }}</p>
        </li>
      {% endif %}
      {% if sidebar.agency %}
        <li>
          <b>Agency Sponsor: </b>
          <p>{{ sidebar.agency }}</p>
        </li>
      {% endif %}
      {% if sidebar.prize_status %}
        <li>
          <b>Prize Winner: </b>
          <p>{{ sidebar.prize_status}}</p>
        </li>
      {% endif %}
      {% if sidebar.target_audience %}
        <li>
          <b>Target Audience: </b>
          <p>{{ sidebar.target_audience }}</p>
        </li>
      {% endif %}
      {% if sidebar.open_data %}
        <li>
          <b>Federal Open Data Sets Used: </b>
          <p>{{ sidebar.open_data }}</p>
        </li>
      {% endif %}
      {% if sidebar.how_top_helped %}
        <li>
          <b>How TOP Helped: </b>
          <p>{{ sidebar.how_top_helped }}</p>
        </li>
      {% endif %}
    </ul>
  </aside>

  <main id="main-content" class="main-content">
    <div class="styleguide-content usa-prose site-prose">
      {{ content }}
    </div>
  </main>
</div>
