---
layout: base
---
{% include analytics.html %}

{% include coil/coil-nav.html %}
<main id="main-content">
  
  {% comment %}
    {% include scrolling-gallery.html data=site.data.coil-images %}
  {% endcomment %}

  <section class="coil-hero coil-section usa-section margin-top-8">
    <div>
      <h1 class="line-height-sans-3 font-sans-2xl maxw-tablet-lg">{{ page.hero.text }}</h1>
    </div>
    <div class="font-sans-lg margin-bottom-2">
      {{ page.hero.subtext | markdownify }}
    </div>
    <div>
      <a class="coil-btn__primary-white" href="{{ page.typeform }}" target="_blank">
        {{ page.hero.cta.text }}&nbsp;&rarr;
      </a>
    </div>
  </section>

  <section id="our-work" class="coil-section">
    <div>
      <img class="abstract-icon" src="{{ site.baseurl }}/img{{page.work-section.icon}}" alt="" data-proofer-ignore>
    </div>
    <h2>{{ page.work-section.title }}</h2>
    <p>{{ page.work-section.subtitle }}</p>
    {% for projectSection in site.data.coil-projects %}
      {% include coil/coil-project-section.html 
          data=projectSection  %}
    {% endfor %}
  </section>

  <section id="get-involved" class="coil-section">
    <div>
      <img class="abstract-icon" src="{{ site.baseurl }}/img{{page.get-involved.icon}}" alt="" data-proofer-ignore>
    </div>
    <h2>{{ page.get-involved.title }}</h2>
    {{ content }}
    {% include coil/coil-help-section.html %}
  </section>

  {% include coil/coil-team-section.html %}

</main>

{% include coil/coil-footer.html %}