---
layout: base
---
{% include analytics.html %}
{% include coil/coil-nav.html %}
<main id="main-content">
  {{ site.basurl }}
  
  {% include scrolling-gallery.html data=site.data.coil-images %}
  
  <div class="coil-hero usa-section">
    <span class="font-sans-6">{{ page.hero.text | markdownify }}</span>
    <span class="font-sans-1 margin-bottom-2">
      {{ page.hero.subtext | markdownify }}
    </span>
    <a class="usa-button__secondary-white display-inline-block margin-top-0" href="{{ page.hero.cta.href }}">
      {{ page.hero.cta.text }}&nbsp;&rarr;
    </a>
  </div>

  {% for projectSection in page.project-texts %}
    {% assign data = site.data.coil-projects[forloop.index0] %}
    {% include coil/coil-project-section.html 
        text=projectSection 
        data=data %}
  {% endfor %}

</main>

{% include coil/coil-footer.html %}