---
layout: base
---
{% include analytics.html %}
{% include coil/coil-nav.html %}
<main id="main-content">
  {{ site.basurl }}
  
  <!-- {% include scrolling-gallery.html data=site.data.coil-images %} -->
  
  <section class="coil-hero coil-section">
    <span class="font-sans-6">{{ page.hero.text | markdownify }}</span>
    <span class="font-sans-1 margin-bottom-2">
      {{ page.hero.subtext | markdownify }}
    </span>
    <a class="coil-btn__primary-white" href="{{ page.hero.cta.href }}">
      {{ page.hero.cta.text }}&nbsp;&rarr;
    </a>
  </section>

  <section id="our-work" class="coil-section bg-white text-black">
    <h2>{{ page.work-section.title }}</h2>
    <p>{{ page.work-section.subtitle }}</p>
    {% for projectSection in page.work-section.subsections %}
      {% assign data = site.data.coil-projects[forloop.index0] %}
      {% include coil/coil-project-section.html 
          text=projectSection 
          data=data %}
    {% endfor %}
  </section>

  <section id="get-involved" class="coil-section">
    <h2>{{ page.get-involved.title }}</h2>
    {{ content }}
  </section>

  {% include coil/coil-team-section.html %}

</main>

{% include coil/coil-footer.html %}