---
layout: default
---

{% include announcement-banner.html %}
{% include home/homepage-hero.html data=page.hero %}

<section class="products">
  <div class="content-container grid-container">
    <h2
      class="font-family-serif margin-bottom-6 tablet:margin-top-8 tablet:margin-bottom-7 desktop:margin-top-10 desktop:margin-bottom-7">
      Innovative Solutions to <a href="{{site.baseurl}}/sprints/">National Challenges</a></h2>
    <div class="blurb-container">
      <p>TOP has been instrumental in the development of many new tools that serve the public, tackling challenges like
        the opioid crisis, workforce development, entrepreneurship, disaster response, and rural development. Here are
        just a few notable examples:</p>
    </div>
    <ul class="products-container padding-0">
      {% assign section = page.products %}
      {% include home/homepage-products.html data=section %}
    </ul>
  </div>
</section>

<section class="companies">
  <div class="content-container grid-container">
    <h2
      class="font-family-serif margin-bottom-6 tablet:margin-top-8 tablet:margin-bottom-7 desktop:margin-top-10 desktop:margin-bottom-7">
      Cross-Industry Collaboration</h2>
    <div class="blurb-container">
      <p>TOP brings together government agencies, technologists, NGOs, universities, community leaders, and data experts
        to rapidly prototype digital products that solve real-world problems with open data. Here are just a few notable
        companies that have participated in TOP:</p>
    </div>
  </div>
</section>


{% assign section = page.cta-one %}
{% include home/cta.html data=section %}