---
layout: default
---

{% include announcement-banner.html %}
{% include home/homepage-hero.html data=page.hero %}

<section class="products">
  <div class="content-container grid-container display-flex flex-column">
    <h2
      class="font-family-serif margin-bottom-1 tablet:margin-top-0 tablet:margin-bottom-05 desktop:margin-top-0">
      Innovative Solutions to <a href="{{site.baseurl}}/sprints/">National Challenges</a></h2>
    <div class="blurb-container margin-top-0">
      <p>TOP has been instrumental in the development of many new tools that serve the public, tackling challenges like
        the opioid crisis, workforce development, entrepreneurship, disaster response, and rural development. Here are
        just a few notable examples:</p>
    </div>
    <ul class="products-container padding-0 margin-top-3 tablet:margin-top-3 tablet:margin-bottom-0 desktop:margin-top-4">
      {% assign section = page.products %}
      {% include home/homepage-products.html data=section %}
    </ul>
    <div class="display-flex margin-top-4 tablet:margin-top-3 flex-align-self-center desktop:margin-top-4">
    <a href="{{site.baseurl}}/products/" target="_blank"
    class="usa-button text-ink tablet:padding-y-2 padding-x-205 desktop:padding-y-205 desktop:padding-x-6 outline-1px outline-black site-button bg-white">
    Explore More Examples
    </a>
    </div>
  </div>
</section>

<section class="companies">
  <div class="content-container grid-container">
    <h2
      class="font-family-serif margin-bottom-3 margin-top-0 tablet:margin-bottom-3">
      Cross-Industry Collaboration</h2>
    <div class="blurb-container">
      <p>TOP brings together government agencies, technologists, NGOs, universities, community leaders, and data experts
        to rapidly prototype digital products that solve real-world problems with open data. Here are just a few notable
        companies that have participated in TOP:</p>
    </div>

    <ul class="logo-garden-container margin-top-5 margin-bottom-0 padding-y-1 padding-x-4 tablet:margin-top-6 tablet:padding-y-5 bg-top-white">
      {% assign section = page.logos %}
      {% include logo-garden.html data=section %}
    </ul>
  </div>
</section>


{% assign section = page.cta-one %}
{% include home/cta.html data=section %}