---
layout: default
---

{% include hero.html %}
{% include nav/sprints-nav.html %}
{% include sprint-hero.html content=page.hero %}
{% comment %}
  {% include single-column-centered-list-dark.html %}
{% endcomment %}

{% assign pastStatements = site.data.problem_statements | group_by: "category" %}
{% assign categories = "" | split: "," %} <!-- empty array -->
{% for group in pastStatements %}
  {% assign categories = categories | push: group.name %}
{% endfor %}
<div class="margin-x-auto">
  {% include tab-row.html content=categories %}
</div>
{% for group in pastStatements %}
  {% if group.name.size > 0 %}
    {% for item in group.items %}
      
      {% assign active = "ps-active" %}
      {% unless forloop.first %}
        {% assign active = "ps-inactive" %}
      {% endunless %}
      {% include problem-statement-past.html content=item name=group.name active=active %}
      
    {% endfor %}
  {% endif %}
{% endfor %}

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/sprint-nav-highlight.js"></script>
<script src="{{ site.baseurl }}/assets/js/toggle-problem-statements.js" type="text/javascript" defer></script>
