---
layout: base
---
{% include analytics.html %}
{% include navbar.html %}

<main id="main-content">
  <div class="maxw-desktop margin-x-auto margin-y-6 padding-x-4">
    {{ content }}
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col">
          <h2 class="line-height-sans-3">For Federal Agencies</h2>
          <p>
            <a class="usa-button usa-button--outline" href="{{site.baseurl}}/assets/files/{{page.files.federal.guidance}}" download>
              Download the guidelines&nbsp;&darr;
            </a>
          </p>
          <p>
            <a class="usa-button usa-button--outline"  href="{{site.baseurl}}/assets/files/{{page.files.federal.template}}" download>
              Download the template&nbsp;&darr;
            </a>
          </p>
        </div>
        <div class="tablet:grid-col">
          <h2 class="line-height-sans-3">For NGOs & state, local, or tribal governments</h2>
          <p><a class="usa-button usa-button--outline"  href="{{site.baseurl}}/assets/files/{{page.files.ngos.guidance}}" download>
            Download the guidelines&nbsp;&darr;
          </a></p>
          <p><a class="usa-button usa-button--outline"  href="{{site.baseurl}}/assets/files/{{page.files.ngos.template}}" download>
            Download the template&nbsp;&darr;
          </a></p>
        </div>
      </div>
    </div>
  </div> 

</main>

<!-- 
  <div class="grid-container margin-y-6">
    <div class="grid-row margin-bottom-4">
      <div class="tablet:grid-offset-1 tablet:grid-col-9">
        <h1 class="line-height-sans-3">{{ page.header }}</h1>
      </div>
    </div>
    <div class="grid-row grid-gap margin-top-2">
      <div class="tablet:grid-col-3 tablet:grid-offset-1 text-center">
        {% include image.html src=page.img.src alt=page.img.alt 
          class="border maxh-mobile" %}
      </div>
      <div class="tablet:grid-col-6 tablet:margin-top-0 margin-top-4">
      </div>
    </div>
  </div>
 -->

{% include footer.html %}