---
layout: base
---
{% include analytics.html %}
{% include navbar.html %}

<main id="main-content">
  <div class="maxw-desktop margin-x-auto margin-y-6 padding-x-4">
    {{ content }}
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col">
          <h2 class="line-height-sans-3 font-sans-lg text-base-darkest">For Federal Agencies</h2>
          <p>
            <a class="btn-link__secondary btn-link--small margin-top-05" href="{{site.baseurl}}/assets/files/{{page.files.federal.guidance}}" download>
              Download the guidelines&nbsp;&darr;
            </a>
          </p>
          <p>
            <a class="btn-link__primary btn-link--small margin-top-05"  href="{{site.baseurl}}/assets/files/{{page.files.federal.template}}" download>
              Download the template&nbsp;&darr;
            </a>
          </p>
        </div>
        <div class="tablet:grid-col">
          <h2 class="line-height-sans-3 font-sans-lg text-base-darkest">For NGOs & state, local, or tribal governments</h2>
          <p>
            <a class="btn-link__secondary btn-link--small margin-top-05"  href="{{site.baseurl}}/assets/files/{{page.files.ngos.guidance}}" download>
              Download the guidelines&nbsp;&darr;
            </a>
          </p>
          <p>
            <a class="btn-link__primary btn-link--small margin-top-05"  href="{{site.baseurl}}/assets/files/{{page.files.ngos.template}}" download>
              Download the template&nbsp;&darr;
            </a>
          </p>
        </div>
      </div>
    </div>
  </div> 

  <div class="margin-y-3">
    <a href="#example-modal-1" class="usa-button" aria-controls="example-modal-1" data-open-modal id="modal-button">Open default modal</a>
    <div class="usa-modal-wrapper is-hidden" role="dialog" id="example-modal-1" data-opener="modal-button">
      <div class="usa-modal-overlay">
        <div class="usa-modal " aria-labelledby="modal-1-heading" aria-describedby="modal-1-description">
          <div class="usa-modal__content">
            <div class="usa-modal__main">
              <h2 class="usa-modal__heading" id="modal-1-heading">
                Are you sure you want to continue?
              </h2>
              <div class="usa-prose">
                <p id="modal-1-description">You have unsaved changes that will be lost.</p>
              </div>
              <div class="usa-modal__footer">
                <ul class="usa-button-group">
                  <li class="usa-button-group__item">
                      <button type="button" class="usa-button" data-close-modal>Continue without saving</button>
                    </li>
                  <li class="usa-button-group__item">
                      <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" data-close-modal>Go back</button>
                    </li>
                  </ul>
              </div>
            </div>
            <button class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/assets/img/sprite.svg#close"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% include footer.html %}