---
layout: default
---

{% include hero.html %}

<section class="usa-section usa-graphic-list">
  <div id="featured-products"
    class="border-base-lighter border-top display-flex flex-column flex-align-center tablet:margin-y-5 margin-y-3">
    <h2 class="tag-header bg-base-darkest text-uppercase">Featured Products</h2>
  </div>

  <div class="grid-container">
    {% assign case_studies = site.data.case_studies %}
    <div class="grid-row grid-gap-lg 
    flex-wrap flex-justify-center">
    {% for case in case_studies %}
      <div
        class="tablet:grid-col-4 
          usa-media-block__background-image-portrait 
          margin-bottom-3">
          {% include cards/card.html content=case utils="small-header-card" %}

      </div>
    {% endfor %}
  </div>
</section>

<div id="all-products"
  class="border-base-lighter border-top display-flex flex-column flex-align-center desktop:margin-top-5 desktop:margin-bottom-5"
>
  <h2 class="tag-header bg-base-darkest">ALL PRODUCTS</h2>
</div>

<div class="display-flex flex-column flex-align-center">
  <form id="product-search-form" class="usa-search usa-search--small desktop:width-tablet" role="search">
    <label class="usa-sr-only" for="search-field">Search all products</label>
    <input class="usa-input" id="search-field" type="search" name="search" placeholder="Search all products">
    <button class="btn-link__primary-dark" type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </form>

  <div class="grid-container margin-y-4">
    <form id="product-filter-form"  class="">
      <div class="grid-row grid-gap-sm">
        {% include product-filter.html label="Topics" data=site.data.products filter="category" z=400%}
        
        {% assign filteredYears = site.data.product-filters.years | sort | reverse %}
        {% include product-filter.html label="Year" data=filteredYears z=400 %}
        
        {% include product-filter.html label="Partner Agency" data=site.data.product-filters.agencies z=300 %}
  
        <div class="display-inline-block margin-top-2">
          <button class="btn-link__secondary-red padding-1 margin-top-0" id="reset-filter">Reset Filter &#127335;
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--
<div class="margin-y-3">
  <a href="#example-modal-1" class="usa-button" aria-controls="example-modal-1" data-open-modal>Open default modal</a>
  <div class="usa-modal " id="example-modal-1" aria-labelledby="modal-1-heading" aria-describedby="modal-1-description">
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="modal-1-heading">
          Are you sure you want to continue?
        </h2>
        <div class="usa-prose">
          <p id="modal-1-description">You have unsaved changes that will be lost.</p>
        </div>
        <div class="usa-modal__footer">
          <ul class="usa-button-group">
            <li class="usa-button-group__item">
                <button type="button" class="usa-button" data-close-modal>Continue without saving</button>
              </li>
            <li class="usa-button-group__item">
                <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" data-close-modal>Go back</button>
              </li>
            </ul>
        </div>
      </div>
      <button class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="/assets/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
-->

<section class="usa-section usa-graphic-list grid-container">
  <ul class="usa-card-group">
    {% assign products = site.data.products %}
    {% for product in products %}
      {% if product.link %}
        
        {% assign imgSrc = "photos/products/" | append: product.image %}
        {% assign imageAlt = product.title | append: " product screenshot" %}
        {% assign problem_statements = site.data.problem_statements | where:"airtable_id", product.problem_statement[0] %}
        {% assign problem_statement = problem_statements[ 0 ] %}
        {% assign sprints = site.data.sprints | where:"airtable_id", product.sprint[ 0 ] %}
        {% assign sprint = sprints[ 0 ] %}
        
        <li id="product-card-{{product.title | slugify}}" 
          class="desktop:grid-col-3 tablet:grid-col-3 usa-card product-card product-card-active" 
          name="productCard">
          <a href="#product-modal" aria-controls="product-modal" data-open-modal>
            <div class="usa-card__container clickable-card bg-base-darkest">
              <header class="usa-card__header">
                <h2 class="usa-card__heading text-white font-sans-md" value="{{product.title | slugify}}">
                  {{ product.title }}
                </h2>
                {% if sprint.Year %}<h3 class="pc-inactive">{{ sprint.Year }}</h3>{% endif %}
                {% if product.category %}
                  <h4 class="pc-inactive">{{ product.category }}</h4>
                {% endif %}
                {% if problem_statement.agency_text %}
                  <h5 class="pc-inactive">{{ problem_statement.agency_text }}</h5>
                {% endif %}
                <p style="display:none" class="product-desc">{{ product.description }}</p>
                <p style="display:none" class="problem-statement">{{ problem_statement.Name | slugify }}</p>
                <p class="card-problem-statement" style="display:none">{{ problem_statement['Full Title'] | slugify }}</p>
                <span style="display:none" class="product-link">{{ product.link }}</span>
                <span style="display:none" class="product-data-sets">{{ product.data_sets_text }}</span>
              </header>
              <div class="usa-card__body">
                <p class="font-mono-xs text-white product-tech-team">{{ product.tech_team_text | upcase | remove: '"' }}</p>
              </div>
              <div class="usa-card__img">
                {% include image.html src=imgSrc alt=imageAlt class="maxh-15" %}
              </div>
            </div>
          </a>
        </li>
        
      {% endif %}
    {% endfor %}
  </ul>

  <div id="product-modal" class="usa-modal maxw-tablet radius-0"
    aria-labeledby="product-modal-heading" aria-describedby="modal-desc">
    <div class="usa-modal__content">
      <div class="modal-grid">
        <div class="modal-column">
          {% include image.html src=imgSrc alt="an image of a technical product" class="modal-img" %}
        </div>
        <div class="modal-column">
        
          <div class="usa-card__body">
            <h2 class="usa-modal__heading font-sans-md" id="product-modal-heading">PRODUCT TITLE</h2>

            <p class="font-mono-xs modal-tech-team">{{ product.tech_team_text | upcase }}</p>
            <p class="modal-desc" id="modal-desc">{{ product.description }}</p>
            <p class="font-sans-2xs">Datasets Used</p>
            <p class="modal-data-sets font-sans-2xs">
              {{ product.data_sets_text }}
            </p>
          </div>
          <div class="usa-card__footer text-center">
            <a class="btn-link__primary-red modal-link" 
            href="{{ product.link }}" product-link target="_blank">Go to Product</a>
          </div>
          
        </div>
        
      </div>
      <button class="usa-button usa-modal__close bg-secondary radius-0 text-white" aria-label="Close this window" data-close-modal>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="/assets/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>

</section>