---
layout: default
---

{{ content }}

<main id="main-content">
  <section>
    <div class="grid-container">
      <div class="maxw-mobile-lg">
        <h1
          class="hero--heading margin-y-10 line-height-sans-3 text-thin font-lang-13"
        >
          {{ page.lead }}
        </h1>
      </div>
    </div>
  </section>
  <section class="usa-section usa-graphic-list grid-container">
    <div class="grid-row grid-gap">
      {% assign case_studies = site.data.case_studies %}
      {% for case in case_studies %}
        <div
         class="desktop:grid-col-4 tablet:grid-col-6 usa-media-block margin-bottom-3 desktop:margin-bottom-0"
        >
          <div name="productCard" class="usa-media-block__body">
            <img
              class="usa-media-block__img"
              src="{{ site.baseurl }}/img/products/test.png"
              alt="screenshot of City Builder website"
            />
            <h3><a href="{{site.baseurl}}/case-studies/{{case.short_url}}">{{ case.product_name }}</a></h3>
            <p><b>by {{ case.tech_team}}</b></p>
            <span class="usa-tag">{{ case.cohort}}</span>
            <p>
              {{ case.description_new }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
    <hr>
    <form id="product-search-form">
      <label for="searchField">Search for a product created through The Opportunity Project:</label>
      <input type="text" id="search-field" name="search">
      <input type="submit" value="Search Products">
    </form>

    <div class="usa-accordion usa-accordion--bordered">
      <h2 class="usa-accordion__heading">
        <button class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="b-a1">
          Filter Products
        </button>
      </h2>
      <div id="b-a1" class="usa-accordion usa-width-one-half">
        <form id="product-filter-form">
          <div class="grid-row grid-gap">
            <div class="desktop:grid-col-6 tablet:grid-col-6 margin-left-2">
              <h4>Topic</h4>
                {% for topic in site.data.product-filters.topics %}
                  <div class="usa-checkbox">
                    <input class="usa-checkbox__input" id="{{ topic }}" type="checkbox" name="problem-statement-topics" value="{{ topic }}">
                    <label class="usa-checkbox__label" for="{{ topic }}">{{ topic }}</label>
                  </div>
                {% endfor %}
            </div>
            <div class="desktop:grid-col-3 tablet:grid-col-3 margin-left-2">
              <h4>Year</h4>
                {% for year in site.data.product-filters.years %}
                  <div class="usa-checkbox">
                    <input class="usa-checkbox__input" id="{{ year }}" type="checkbox" name="problem-statement-topics" value="{{ year }}">
                    <label class="usa-checkbox__label" for="{{ year }}">{{ year }}</label>
                  </div>
                {% endfor %}
            </div>
          </div>
          <input class="usa-button__secondary float-right margin-right-4" type="submit" value="Filter Products">
        </form>
      </div>
    </div>
    <hr>
    <h6>Products</h6>
    <ul class="usa-card-group">
      {% assign products = site.data.products %}
      {% for product in products %}
        <li class="desktop:grid-col-3 tablet:grid-col-3 usa-card">
          <div class="usa-card__container bg-base-darkest">
            <header class="usa-card__header">
              <h2 class="usa-card__heading text-white font-sans-md">{{ product.product_name }}</h2>
            </header>
            <div class="usa-card__body">
              <p class="font-mono-xs text-white">{{ product.tech_team | upcase }}</p>
            </div>
            <div class="usa-card__img">
              <img
                src="{{ site.baseurl }}/img/products/test.png"
                alt="screenshot of City Builder website"
              />
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
</main>
