---
layout: default
---

{% assign data=site.data.sprints | where: 'short-tag', page.short-name %}
{% assign sprint = data[ 0 ] %}
{% assign problems = site.data.problem_statements | where: 'Sprints', sprint.airtable_id %}

{% include hero.html %}
{% include nav/sprints-nav.html %}
{% include sprint-hero.html content=sprint %}

{% for statement in problems %}
  {% assign products = site.data.products_airtable | where: 'airtable_id', statement.Products[0] %}
  {% assign product = products[0] %}
  
  {% assign showMore = false %}
  {% if forloop.index0 == 1 %}
    {% assign showMore = true %}
  {% endif %}


  {% include problem-statement.html content=statement product=product 
    showMore=showMore isExpanded = forloop.first %}
{% endfor %}

<!-- <script src="{{ site.baseurl }}/assets/js/show-more-less.js" type="text/javascript"></script> -->