---
layout: default
---
{% assign data=site.data.sprints | where: 'short-tag', page.short-name %}
{% assign sprint = data[ 0 ] %}
{% assign problems = site.data.problem_statements | sort:'sprint_order' | where: 'Sprints', sprint.airtable_id %}

{% include hero.html %}
{% include nav/sprints-nav.html %}
{% include sprint-hero.html content=sprint isCurrent=page.isCurrent %}

{% for statement in problems %}
  {% assign prodId = statement.featured_product[ 0 ] %}
  {% assign product = site.data.products | where: 'airtable_id', prodId | first %}
  {% assign showMore = false %}
  {% if forloop.index0 == 1 or page.expandAllProblemStatements == true %}
    {% assign showMore = true %}
  {% endif %}

  {% assign isExpanded = false %}
  {% if forloop.first %}
    {% if page.isCurrent %}
      {% assign isExpanded = false %}
    {% else %}
      {% assign isExpanded = true %}
    {% endif %}
  {% endif %}
  {% include problem-statement.html content=statement product=product 
    showMore=showMore isExpanded = isExpanded %}
{% endfor %}

{% if page.isCurrent %}
<div class="text-center margin-top-6 margin-bottom-10">
  <h2 class="margin-bottom-0">
    Want to join a sprint?
  </h2>
    <a href="{{ site.contacts.census-form }}"
    class="btn-link btn-link__primary-red margin-top-1">
      Click here to start the process
    </a>
</div>
{% endif %}