{% assign items = include.data %}
<div class="usa-section--white bg-white radius-md text-ink padding-4">
  <div class="padding-bottom-4 border-bottom-1px">
    <form id="challenge-widget__form">
      <fieldset class="usa-fieldset display-flex flex-align-center">
        <legend class="usa-legend">Select an agency</legend>
        {% for item in items %}
          <div class="usa-radio site-radio {%unless forloop.first %}margin-left-2{% endunless %}">
            <input 
              class="usa-radio__input usa-radio__input--tile"
              id="{{ item.agency | slugify }}__input"
              type="radio"
              name="challenge-widget"
              value="{{ item.agency | slugify}}"
              {% if forloop.first %}checked{% endif %}
            />
            <label class="usa-radio__label" for="{{ item.agency | slugify}}__input">
              {{ item.agency }}
            </label>
          </div>
        {% endfor %}
        <a class="usa-link margin-left-4" href="{{site.baseurl}}/sprints">
          See all challenges
        </a>
      </fieldset>
    </form>
  </div>
  <div>
    {% for item in items %}
      <div 
        id="{{ item.agency | slugify }}" 
        class="challenge-widget__details {% unless forloop.first %}display-none{% endunless %}"
      >
        <p class="font-sans-md">
          {{ item.title | markdownify | remove: "<p>" | remove: "</p>" %}}
        </p>
        <p>
          {{ item.subtitle }}
        </p>
        <div class="grid-row grid-gap">
          {% for productTeam in item.products %}
            {% assign product = site.data.products | where: "tech_team_text", productTeam.team | first %}
            {% if productTeam.title %}
              {% assign product = site.data.products | where: "title", productTeam.title | first %}
            {% endif %}
            <div
              class="tablet:grid-col-3 
                usa-media-block__background-image-portrait 
                margin-bottom-3"
            >
              {% include cards/problem-statement-prod-card.html content=product utils="small-header-card" %}
            </div>
          {% endfor %}
        </div>
        <p>
          {{ item.impact }}
        </p>
      </div>
    {% endfor %}
  </div>
</div>
