{% assign data = include.data %}
<section class="usa-section {{data.background-class}} usa-section--dark">
  <div class="grid-container {{data.container-class}}">
    <h2 {% if data.title.class %}class="{{ data.title.class }}"{% endif %}>
      {{ data.title.text | markdownify }}
    </h2>
    {% if data.body %}
      <div class="margin-bottom-4">
        {{ data.body | replace: "SITE.BASEURL", site.baseurl | markdownify }}
      </div>
    {% endif %}
    {% if data.blurb %}
      <p {% if data.blurb.class %}class="{{ data.blurb.class }}"{% endif %}>
        {{ data.blurb.text }}
      </p>
    {% endif %}
    <p>
      {% if data.primary %}
        {% assign link = data.primary %}
        <a
          class="usa-button usa-button--secondary site-button site-cta"
          href="{% unless link.isExternal %}{{ site.baseurl }}{% endunless %}{{ link.href }}"
          {% if card.target %}target="{{ card.target }}"{% endif %}>
          {{ link.text }}
        </a>
      {% endif %}
      {% if data.secondary %}
        {% assign link = data.secondary %}
        <a
        class="usa-link site-cta margin-left-2"
        href="{% unless link.isExternal %}{{ site.baseurl }}{% endunless %}{{ link.href }}"
        {% if card.target %}target="{{ card.target }}"{% endif %}>
        {{ link.text }}
      </a>
      {% endif %}
      {% if data.custom %}
      {% assign link = data.custom %}
      <a
        class="usa-button {{data.custom.class}} site-button site-cta"
        href="{% unless link.isExternal %}{{ site.baseurl }}{% endunless %}{{ link.href }}"
        {% if card.target %}target="{{ card.target }}"{% endif %}>
        {{ link.text }}
      </a>
      {% endif %}
    </p>
  </div>
</section>