{% assign section = include.data %}
<section class="usa-section bg-white">
  <div class="grid-container">
    <h2 id="{{section.title | slugify }}">
      {{ section.title }}
    </h2>
    <div class="usa-accordion" aria-multiselectable="true">
      {% for item in section.data %}
        <h3 class="usa-accordion__heading">
          <button
            class="usa-accordion__button text-normal"
            aria-expanded="false"
            aria-controls="{{ item.title | slugify }}"
          >
            <div class="homepage-process__button-text">
              <strong>{{ forloop.index }}</strong>
              <span class="margin-left-4">{{ item.title }}</span>
            </div>
          </button>
        </h3>
        <div id="{{ item.title | slugify }}" class="usa-accordion__content">
          {{ item.subtitle | markdownify }}
        </div>
      {% endfor %}
    </div>
    <div>
      {{ section.footer.intro | replace: "SITE.BASEURL", site.baseurl | markdownify }}
      <h4>{{ section.footer.title }}</h4>
      {{ section.footer.text | replace: "SITE.BASEURL", site.baseurl | markdownify }}
      <p>
        {% assign link = section.cta %}
        <a 
          class="usa-button usa-button--secondary site-button site-cta"
          href="{% unless link.isExternal %}{{ site.baseurl }}{% endunless %}{{ link.href }}">
          {{ link.text }}
        </a>
      </p>
    </div>
  </div>
</section>