{% assign data-topics = include.data %}
{% assign checkboxSets = include.checkboxSets %}
{% if data-topics.size > 1 %}
<div class="">
  <div class="grid-row grid-gap">
    <ul class="data-card-group margin-top-7">
      {% for data in data-topics %}
        {% assign filter = data.Name | slugify | default: data %}
        <li id="{{ filter | slugify }}" class="">
          <div class="dch__data-topic {%if forloop.first %}selected{% endif %}">
            <header class="padding-x-2">
              <p class="text-white font-sans-sm" value="{{ filter | downcase }}">{{ data.Name | default: filter | camelcase }}</p>
            </header>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if checkboxSets %}
  <div class="grid-row grid-gap text-white">
    {% for group in checkboxSets %}
      <fieldset class="usa-form">
        <legend class="usa-legend">{{group}}</legend>
        {% comment %} get all options for the given field {% endcomment %}
        {% assign options = "" | split: ',' %}
        {% for dataset in site.data.treasury_datasets %}
          {% for option in dataset[group] %}
            {% assign options = options | push: option %}
          {% endfor %}
        {% endfor %}
        {% assign options = options | uniq | sort %}
        {% for option in options %}
        <div class="usa-checkbox dch-checkbox">
            <input
              class="usa-checkbox__input"
              id="{{option | slugify}}"
              type="checkbox"
              name="{{group | slugify}}"
              value="{{option | slugify}}"
            />
            <label class="usa-checkbox__label" for="{{option | slugify}}">
              {{ option }}
            </label>
        </div>
        {% endfor %}
      </fieldset>
      <br/>
    {% endfor %}
  </div>
  {% endif %}

  <div class="grid-row grid-gap">
    {% for data in data-topics %}
      {% if data.Challenge %}
        {% assign filter = data.Name | slugify %}
        <div id="modal-{{ filter }}" class="data-modal modal-inactive margin-top-5">
          <div class="grid-row">
            <div class="desktop:grid-col-8 tablet:grid-col-8">
              <div class="display-inline-block desktop:grid-col-4 tablet:grid-col-4">
                <img
                  src="{{ site.baseurl }}/assets/img/{{data.image}}"
                  alt="{{data.image-alt}}"
                />
              </div>
              <div class="display-inline-block float-right desktop:grid-col-8 tablet:grid-col-8 padding-bottom-5 padding-left-5">
                {% if data.Name %}
                  <p class="font-sans-md text-white margin-top-0">{{ data.Name }}</p>
                {% endif %}
                {% if data.Challenge %}
                  <p class="font-mono-xs text-accent-warm">CHALLENGE</p>
                  <p class="font-sans-2xs text-white">{{ data.Challenge}}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}