{% assign data-topics = include.data %}
{% assign checkboxSets = include.checkboxSets %}
{% if data-topics.size > 1 %}
  
  {% if checkboxSets == null %}
    
    <div class="grid-row grid-gap">
      <ul class="data-card-group margin-top-7">
        {% for data in data-topics %}
          {% assign filter = data.Name | slugify | default: data %}
          <li class="margin-bottom-1">
            <div 
              id="{{ filter | slugify }}" 
              class="dch__data-topic {%if forloop.first %}selected{% endif %}"
            >
              <header class="padding-x-2">
                <p class="font-sans-sm" value="{{ filter | downcase }}">{{ data.Name | default: filter | camelcase }}</p>
              </header>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <hr class="margin-top-3 margin-bottom-0 border-accent-warm">
  
  {% else %}
    
    <div class="grid-row grid-gap text-white margin-top-3">
      {% assign breakpoint = "tablet" %}
      <div class="{{breakpoint}}:grid-col-5">
        <fieldset class="usa-fieldset">
          <legend class="usa-legend">Filter by category</legend>
          {% assign categoryHalf = data-topics.size | divided_by: 2.0 | ceil %}
          <div class="grid-container grid-row grid-gap padding-x-0">
            <div class="grid-col-6 padding-left-0">
              {% for data in data-topics limit:categoryHalf %}
                {% include dch/dch__radio-button.html data=data first=forloop.first %}
              {% endfor %}
            </div>
            <div class="grid-col-6 padding-right-0">
              {% for data in data-topics offset:categoryHalf %}
                {% include dch/dch__radio-button.html data=data first=false %}
              {% endfor %}
            </div>
          </div>
        </fieldset>
      </div>
      {% for group in checkboxSets %}
      <div class="{{breakpoint}}:grid-col-7 {{breakpoint}}:padding-left-8 margin-top-4 {{breakpoint}}:margin-top-0">
        {% assign options = "" | split: ',' %}
        {% for dataset in site.data.treasury_datasets %}
          {% for option in dataset[group] %}
            {% assign geography = site.data.geographies | where: "airtable_id", option %}
            {% assign options = options | push: geography %}
          {% endfor %}
        {% endfor %}
        {% assign options = options | uniq | sort: "order" %}
        {% assign optionMidpoint = options.size | divided_by: 2.0 | ceil %}
        <fieldset class="usa-form dch__checkbox-group maxw-none" name="{{group}}">
          <legend class="usa-legend">Filter by available {{group}}</legend>
          <div class="grid-container grid-row grid-gap padding-x-0">
            <div class="grid-col-6 padding-left-0">
              {% for option in options limit:optionMidpoint %}
                {% include dch/dch__geo-option.html data=option %}
              {% endfor %}
            </div>
            <div class="grid-col-6 padding-right-0">
              {% for option in options offset:optionMidpoint %}
                {% include dch/dch__geo-option.html data=option %}
              {% endfor %}
            </div>
          </div>
        </fieldset>
      </div>
      {% endfor %}
    </div>

  {% endif %}
{% endif %}