<div class="news-blurb-container grid-row grid-gap display-flex flex-wrap usa-collection">
  {% assign max = include.content.size | minus: 1 %}
  {% for i in (0..max) %}
    
    {% assign card=include.content[i] %}
    {% unless card.isOld %}
        
      {% if card.details %}
        <div class="tablet-lg:grid-col-8 padding-top-2 usa-collection__item">        
          <div class="usa-collection__body news-blurb large-blurb grid-row">
            <div class="tablet:grid-col-6 bg-base-darkest"
              {% if card.img %}
                style="background-image: url({{ site.baseurl }}/assets/img/{{ card.img }});
          background-size: cover;"
              {% endif %}>
              <div class="padding-2 text-white display-flex flex-column">
                <h3 class="usa-collection__heading text-white">
                  <a href="{{ card.href }}">{{ card.publication }}</a>
                </h3>
                <span class="usa-collection__meta-item order-first">
                  {{ card.date | date: "%B %Y" }}
                </span>
                <p class="usa-collection__description">{{ card.text }}</p>

              </div>
              
            </div>
            <div class="tablet:grid-col-6 padding-2">
              <p class="usa-collection__description details">{{ card.details }}</p>
            </div>
          </div>
        </div>
      {% else %}

        <div class="tablet-lg:grid-col-4 tablet:grid-col-6 padding-top-2 usa-collection__item">        
          <div class="usa-collection__body news-blurb">
            
            <h3 class="usa-collection__heading">
              <a href="{{ card.href }}">{{ card.publication }}</a>
            </h3>
            <span class="usa-collection__meta-item order-first">
              {{ card.date | date: "%B %Y" }}
            </span>
            <p class="usa-collection__description">{{ card.text }}</p>
          </div>
        </div>
      {% endif %}            
    {% endunless %}
  {% endfor %}
</div>